<ul>
<li>A C  Jobim - The girl from ipanema</li>
<li>A Day to Remember - All I Want</li>
<li>A Day To Remember - Downfall Of Us All</li>
<li>A Day to Remember - Have Faith In Me</li>
<li>A Day to Remember - I'm Made of Wax</li>
<li>A Day to Remember - It's Complicated</li>
<li>A Day To Remember - Nj Legion Iced Tea</li>
<li>A Perfect Circle - Judith</li>
<li>A Perfect Circle - The Outsider</li>
<li>A-HA - Take on me</li>
<li>ABBA - Dancing Queen v1</li>
<li>ABBA - Dancing Queen v2</li>
<li>ABBA - Dancing Queen v3</li>
<li>ABBA - Knowing Me, Knowing You</li>
<li>ABBA - Mamma Mia</li>
<li>ABBA - Name Of The Game</li>
<li>ABBA - Super Trouper</li>
<li>ABBA - Voulez Vous</li>
<li>Abnormality - Visions</li>
<li>AC DC - Highway to hell (Cover)</li>
<li>ACDC - Back in Black (live)</li>
<li>ACDC - Dirty Deeds V1</li>
<li>ACDC - Ditry Deeds V2</li>
<li>ACDC - Fire Your Guns (Live)</li>
<li>ACDC - For Those About To Rock (Live)</li>
<li>ACDC - Go Down (cover)</li>
<li>ACDC - Heatseeker (Live)</li>
<li>ACDC - Hell Aint A Bad Place To Be (Live)</li>
<li>ACDC - Hells Bells (Live)</li>
<li>ACDC - High Voltage (Live)</li>
<li>ACDC - Highway To Hell (Live)</li>
<li>ACDC - It s A Long Way (cover)</li>
<li>ACDC - Jailbreak (Live)</li>
<li>ACDC - Let There Be Rock (Live)</li>
<li>ACDC - Let there be rock</li>
<li>ACDC - Money Talks (Live)</li>
<li>ACDC - Rocknroll Train</li>
<li>ACDC - Shoot to Thrill (cover)</li>
<li>ACDC - Shoot To Thrill (live)</li>
<li>ACDC - The Jack (Live)</li>
<li>ACDC - Thunderstruck (Live)</li>
<li>ACDC - TNT v1</li>
<li>ACDC - TNT v2</li>
<li>ACDC - TNT v3</li>
<li>ACDC - Touch Too Much (cover)</li>
<li>ACDC - Whole Lotta Rosie (live)</li>
<li>ACDC - You Shook Me All Night Long (Live)</li>
<li>Ace of Base - DontTurn Around</li>
<li>Ace of Base - Happy Nation</li>
<li>Ace of Base - Lucky Love</li>
<li>Ace of Base - The Sign</li>
<li>Ace Of Base - Wheel Of Fortune</li>
<li>Acro Brats - Day Late Dollar Short</li>
<li>Adam Lambert - What Do You Want From Me</li>
<li>Adele - Hello</li>
<li>Adele - One And Only (cover)</li>
<li>Adele - Rolling In The Deep</li>
<li>Adele - Set Fire to The Rain</li>
<li>Adele - Skyfall</li>
<li>Aerosmith - Back in the Saddle</li>
<li>Aerosmith - Cryin</li>
<li>Aerosmith - Dream On (Live)</li>
<li>Aerosmith - Dream On</li>
<li>Aerosmith - Jaded</li>
<li>Aerosmith - Legendary Child</li>
<li>Aerosmith - Livin' On The Edge</li>
<li>Aerosmith - Love In An Elevator</li>
<li>Aerosmith - Lover Alot</li>
<li>Aerosmith - Mama Kin</li>
<li>Aerosmith - Rag Doll</li>
<li>Aerosmith - Sweet Emotion</li>
<li>Aerosmith - Train Kept A-Rollin'</li>
<li>Aerosmith - Walk This Way v1</li>
<li>Aerosmith - Walk This Way v2</li>
<li>AFI - Beautiful Thieves</li>
<li>AFI - Dancing Through Sunday</li>
<li>AFI - Girl's Not Grey</li>
<li>AFI - Medicate</li>
<li>AFI - Miss Murder</li>
<li>AFI - The Missing Frame</li>
<li>After the Burial - Aspiration</li>
<li>After the Burial - Berzerker</li>
<li>After the Burial - Cursing Akhenaten</li>
<li>After the Burial - My Frailty</li>
<li>After the Burial - Pendulum</li>
<li>After the Burial - Your Troubles</li>
<li>Against Me! - New Wave</li>
<li>Against Me! - Stop!</li>
<li>Airbourne - Running Wild</li>
<li>Airbourne - Too Much, Too Young, Too Fast</li>
<li>Alan Jackson - Good Time</li>
<li>Alanis Morisette - Ironic</li>
<li>Alanis Morissette - You Oughta Know</li>
<li>Albert King - Born Under A Bad Sign (cover)</li>
<li>Alex - Shes Not My Keeper</li>
<li>Alex Pilkevych - Hate ya too much</li>
<li>Alexisonfire - Young Cardinals</li>
<li>Alice Cooper - Elected</li>
<li>Alice Cooper - I'm Eighteen</li>
<li>Alice Cooper - No more Mr Mice guy</li>
<li>Alice Cooper - Poison</li>
<li>Alice Cooper - School's Out</li>
<li>Alice Cooper - Welcome to My Nightmare</li>
<li>Alice in Chains -  Would</li>
<li>Alice in Chains - Heaven beside you</li>
<li>Alice in Chains - Man in The Box</li>
<li>Alice In Chains - No Excuses</li>
<li>Alice in Chains - Rooster</li>
<li>Alice in Chains - Them Bones</li>
<li>Alice In Chains - We Die Young</li>
<li>Alice In Chains - Your Decision</li>
<li>Alicia Keys - If I Aint Got You</li>
<li>Alien Ant Farm - Courage</li>
<li>Alien Ant Farm - Smooth Criminal</li>
<li>All Girl Summer Fun Band - Cuttie pie</li>
<li>All Shall Perish - A Pure Evil</li>
<li>All Shall Perish - Embrace the Curse</li>
<li>All Shall Perish - My Retaliation</li>
<li>All Shall Perish - Never...Again</li>
<li>All Shall Perish - Spineless</li>
<li>All Shall Perish - Stabbing to Purge Dissimulation</li>
<li>All That Remains - Chiron</li>
<li>All That Remains - Days Without</li>
<li>All That Remains - Forever In Your Hands</li>
<li>All That Remains - This Calling</li>
<li>All That Remains - Two Weeks</li>
<li>All that remains - Undone</li>
<li>All Time Low - 6 Feet Under The Stars</li>
<li>All Time Low - Damned If I Do Ya (Damned If I Don't) (Live)</li>
<li>All Time Low - Dear Maria, Count Me In</li>
<li>All Time Low - Weightless</li>
<li>Alpha Rev - Face Down</li>
<li>Alphabeat - Fascination</li>
<li>Alphaville - Big in Japan</li>
<li>Alphaville - Forever Young</li>
<li>Alter Bridge - Come To Life</li>
<li>Alter Bridge - Ties That Bind</li>
<li>Aly and AJ - Like Whoa</li>
<li>Amerie - One Thing</li>
<li>Amon Amarth - Twilight of the Thunder God</li>
<li>Amy Grant - Baby Baby</li>
<li>Amy Winehouse - Black to Black</li>
<li>Amy winehouse - Rehab</li>
<li>Amy Winehouse - Valerie</li>
<li>An Endless Sporadic - Antyhing</li>
<li>An Endless Sporadic - From the Blue</li>
<li>Anarchy Club - Blood Doll</li>
<li>Anarchy Club - Get Clean</li>
<li>Anastacia - I'm Outta Love</li>
<li>Anberlin - The Feel Good Drag</li>
<li>Angels & Airwaves - It Hurts</li>
<li>Angels & Airwaves - The Adventure</li>
<li>Angels and Airwaves - Everythings Magic</li>
<li>Animals - House of the rising sun (cover)</li>
<li>Anneke Van Giersbergen - Beautiful One</li>
<li>Annie Lennox - I Put A Spell On You (cover)</li>
<li>Anouk - Good God</li>
<li>Anthrax - Among the Living</li>
<li>Anthrax - Caught In A Mosh</li>
<li>Anthrax - Indians</li>
<li>Anthrax - Madhouse</li>
<li>Anthrax - Superhero</li>
<li>Arch Enemy - Nemesis</li>
<li>Arctic Monkeys - Brianstorm</li>
<li>Arctic Monkeys - R U Mine</li>
<li>Ariana Grande - Bang Bang (Cover)</li>
<li>At The Drive In - One Armed Scissor</li>
<li>At the Gates - Blinded by Fear</li>
<li>Atreyu - Ravenous</li>
<li>Attack Attack UK - You And Me</li>
<li>Audioslave - Cochise</li>
<li>Audioslave - Gasoline</li>
<li>Audioslave - Show Me How To Live (cover)</li>
<li>Authority Zero - No Regrets</li>
<li>Avenged Sevenfold - Afterlife</li>
<li>Avenged Sevenfold - Almost Easy</li>
<li>Avenged Sevenfold - Bat Country</li>
<li>Avenged Sevenfold - Beast And The Harlot</li>
<li>Avenged Sevenfold - Critical Acclaim</li>
<li>Avenged Sevenfold - Nightmare</li>
<li>Avenged Sevenfold - Scream</li>
<li>Avenged Sevenfold - Seize the Day</li>
<li>Avenged Sevenfold - So Far Away</li>
<li>Avenged Sevenfold - Unholy Confessions</li>
<li>Avenged Sevenfold - Welcome To The Family</li>
<li>Average white band - Pick up the pieces</li>
<li>Avicii - Wake Me Up (Cover)</li>
<li>Avril Lavigne - Complicated</li>
<li>Avril Lavigne - Girlfriend</li>
<li>Avril Lavigne - Skater boy</li>
<li>Avril Lavigne - When Youre Gone</li>
<li>Avril Lavigne - Wish You Were Here</li>
<li>Awaken - The Silence Is Deafening</li>
<li>Awolnation - Sail</li>
<li>Ayumi Hamasaki - Depend on me</li>
</ul>