<ul>
<li>B 52s - Loveshack</li>
<li>B 52s - Roam</li>
<li>B 52s - Rock Lobster</li>
<li>Backyard Babies - Degenerated</li>
<li>Bad Brains - Re Ignition (Live)</li>
<li>Bad Company - Can't get enough v1</li>
<li>Bad Company - Can't get enough v2</li>
<li>Bad Company - Shooting Star</li>
<li>Bad Relgion - Sorrow</li>
<li>Bad Religion - 21st Century</li>
<li>Bahamen - Who Let The Dogs Out</li>
<li>Band Of Horses - Cigarettes, Wedding Bands</li>
<li>Band of Horses - The Funeral</li>
<li>Band Of Skulls - I Know What I Am</li>
<li>Bang Camaro - Night Lies</li>
<li>Bang Camaro - Pleasure</li>
<li>Bang Camaro - Push Push (Lady Lightning)</li>
<li>Bang Camaro - Swallow the Razor</li>
<li>Barenaked Ladies - Hanukkah Blessings</li>
<li>Barry Manilow - Everythings Gonna Be Alright</li>
<li>BB Brunes - Dis Moi</li>
<li>BB king - The thrill is gone</li>
<li>Beach Boys - California Girls</li>
<li>Beach Boys - Good Vibrations (Live)</li>
<li>Beastie Boys - Gratitude</li>
<li>Beastie Boys - No Sleep Till Brooklyn</li>
<li>Beastie Boys - Sabotage</li>
<li>Beastie Boys - So What'cha Want</li>
<li>Beatsteaks - Hail to the Freaks</li>
<li>Beck - E Pro</li>
<li>Beck - Gamma Ray</li>
<li>Bee Gees - Jive Talkin</li>
<li>Bee Gees - Night Fever</li>
<li>Bee Gees - Nights on Broadway</li>
<li>Bee Gees - Stayin' Alive</li>
<li>Bee Gees - Tragedy</li>
<li>Bee Gees - You Should Be Dancing</li>
<li>Behemoth - Conquer All</li>
<li>Ben Harper and Relentless7 - Fly One Time</li>
<li>Ben Harper and Relentless7 - Number with No Name</li>
<li>Ben Harper and Relentless7 - Shimmer & Shine</li>
<li>Ben Harper and the Innocent Criminals - Steal My Kisses</li>
<li>Ben L Oncle Soul - Soulman</li>
<li>Benny Goodman - Sing Sing Sing</li>
<li>Berklee Practice Method - Get your band together</li>
<li>Between the Buried & Me - Obfuscation</li>
<li>Between the Buried and Me - Alaska</li>
<li>Between the Buried and Me - Mordecai</li>
<li>Between the Buried and Me - Prequel to the Sequel</li>
<li>Between the Buried and Me - Selkies The Endless Obsession</li>
<li>Beyonce - Crazy in Love</li>
<li>Beyonce - End of Time</li>
<li>Beyonce - Halo</li>
<li>Beyonce - Irreplaceable</li>
<li>Beyonce - Naughty Girl</li>
<li>Big Country - In a Big Country</li>
<li>Bikini Kill - Rebel Girl</li>
<li>Bill Conti - Gonna fly now</li>
<li>Billy cobham - Red Baron</li>
<li>Billy Idol - Dancing With Myself</li>
<li>Billy Idol - Rebel Yell v1</li>
<li>Billy Idol - Rebel Yell v2</li>
<li>Billy idol - White wedding</li>
<li>Billy Joel - Big Shot</li>
<li>Billy Joel - Captain Jack</li>
<li>Billy Joel - I Go to Extremes</li>
<li>Billy Joel - Its Still Rock N Roll To Me</li>
<li>Billy Joel - Movin Out (Anthonys Song)</li>
<li>Billy Joel - My Life</li>
<li>Billy Joel - Only the Good Die Young</li>
<li>Billy Joel - Piano Man</li>
<li>Billy Joel - Pressure</li>
<li>Billy Joel - Say GoodBye To HollyWood</li>
<li>Billy Joel - She's Always a Woman</li>
<li>Billy Joel - The Entertainer</li>
<li>Billy Joel - The Stranger</li>
<li>Billy Joel - We Didnt Start The Fire</li>
<li>Billy Joel - You May Be Right</li>
<li>Billy Squier - Christmas Is the Time To Say I Love You</li>
<li>Billy Squier - Everybody Wants You</li>
<li>Billy Squier - Lonely Is The Night</li>
<li>Billy Squier - The Stroke</li>
<li>Billy Squier - When She Comes to Me</li>
<li>Billy Tallent - Surrender</li>
<li>Billy Ward Trio - BeddyByeTime</li>
<li>Billy Ward Trio - BestBuddies</li>
<li>Billy Ward Trio - Bordertown</li>
<li>Billy Ward Trio - ComfortMe</li>
<li>Billy Ward Trio - OutTheDoor</li>
<li>Billy Ward Trio - RidingNomad</li>
<li>Billy Ward Trio - Shanti</li>
<li>Billy Ward Trio - SongForJo</li>
<li>Billy Ward Trio - StringTheory</li>
<li>Billy Ward Trio - StringTheory101</li>
<li>Billy Ward Trio - ThreeOnTheTree</li>
<li>Black Eyed Peas - Lets Get Retarded</li>
<li>Black Label Society - Black Sunday</li>
<li>Black Label Society - Crazy Horse</li>
<li>Black Label Society - Parade Of The Dead</li>
<li>Black Label Society - Stillborn</li>
<li>Black Rebel Motorcycle Club - Weapon of Choice</li>
<li>Black Sabbath - After Forever</li>
<li>Black Sabbath - Children Of The Grave</li>
<li>Black Sabbath - Into The Void</li>
<li>Black Sabbath - Iron Man (cover)</li>
<li>Black Sabbath - Iron Man</li>
<li>Black Sabbath - N.I.B</li>
<li>Black Sabbath - Paranoid</li>
<li>Black Sabbath - Sweet Leaf v1</li>
<li>Black Sabbath - Sweet Leaf v2</li>
<li>Black Sabbath - War Pigs</li>
<li>Black Tide - Shockwave</li>
<li>Blind Melon - No Rain</li>
<li>Blind Melon - Tones Of Home</li>
<li>Blink 182 - Adam's Song</li>
<li>Blink 182 - Aliens Exist</li>
<li>Blink 182 - All The Small Things v1</li>
<li>Blink 182 - All The Small Things v2</li>
<li>Blink 182 - Anthem part 2</li>
<li>Blink 182 - Dammit</li>
<li>Blink 182 - Down</li>
<li>Blink 182 - Feeling This</li>
<li>Blink 182 - First Date</li>
<li>Blink 182 - I Miss You</li>
<li>Blink 182 - The Rock Show</li>
<li>Blink 182 - What's My Age Again</li>
<li>Blink-182 - Stay Together for the Kids</li>
<li>Blondie - Atomic</li>
<li>Blondie - Call me</li>
<li>Blondie - Hanging On A Telephone</li>
<li>Blondie - Heart of Glass</li>
<li>Blondie - Maria</li>
<li>Blondie - One Way or Another</li>
<li>Blood, Sweat, and Tears - Spinning Wheel</li>
<li>Blue - One Love</li>
<li>Blue Oyster Cult  - Don't Fear The Reaper</li>
<li>Blue Oyster Cult - Burnin for You</li>
<li>Blue Oyster Cult - Godzilla</li>
<li>Blue Oyster Cult - Transmaniacon MC</li>
<li>Blues Brothers - Sweet Home Chicago (cover)</li>
<li>Blur - Beetlebum</li>
<li>Blur - Song 2 v1</li>
<li>Blur - song 2 v2</li>
<li>Blur - Theres No Other Way</li>
<li>Bob Dylan - All Along The Watchtower</li>
<li>Bob Dylan - Tangled Up in Blue</li>
<li>Bob Marley - Get Up, Stand Up</li>
<li>Bob Marley - Is This Love</li>
<li>Bob Marley - Lively Up Yourself</li>
<li>Bob Marley - No Woman No Cry</li>
<li>Bob Seger - Get Out of Denver</li>
<li>Bob Seger - Her Strut</li>
<li>Bob Seger - Hollywood Nights</li>
<li>Bob Seger - Old Time Rock n Roll</li>
<li>Bob Seger - Shame On The Moon (cover)</li>
<li>Bob Seger - Turn the page</li>
<li>Bon Jovi - Bad Medicine</li>
<li>Bon Jovi - Blaze of Glory</li>
<li>Bon Jovi - Have A Nice Day</li>
<li>Bon Jovi - I'll Be There For You</li>
<li>Bon Jovi - Its my life</li>
<li>Bon Jovi - Lay Your Hands On Me</li>
<li>Bon Jovi - Livin on a prayer</li>
<li>Bon Jovi - Runaway v1</li>
<li>Bon Jovi - Runaway v2</li>
<li>Bon Jovi - Wanted Dead Or Alive</li>
<li>Bon Jovi - We Weren't Born to Follow</li>
<li>Bon Jovi - Who Says You Can't Go Home</li>
<li>Bon Jovi - You Give Love A Bad Name</li>
<li>Bonnie Raitt - Angel from Montgomery</li>
<li>Bonnie Tyler - Total Eclipse of the Heart</li>
<li>Boston  - More Than a Feeling</li>
<li>Boston - Fore Play Long Time</li>
<li>Boston - Rock And Roll Band</li>
<li>Boston - Smokin</li>
<li>Boston - Something About You</li>
<li>Boys Like Girls - Thunder</li>
<li>Brad Paisley - Mud on the Tires</li>
<li>Brad Paisley - Ticks</li>
<li>Brand New - Sic Transit Gloria</li>
<li>Brand New - Sowing Season</li>
<li>Breaking Benjamin - Breath</li>
<li>Breaking Benjamin - Give Me a Sign</li>
<li>Breaking Benjamin - I Will Not Bow</li>
<li>Breaking Benjamin - So Cold</li>
<li>Breaking Benjamin - Sooner or Later</li>
<li>Breaking Benjamin - The Diary of Jane</li>
<li>Breaking Benjamin - Until The End</li>
<li>Breaking Wheel - Shoulder to the Plow</li>
<li>Brian Kahanek - Gemini</li>
<li>Brick - Dazz</li>
<li>Britney Spears - 3</li>
<li>Britney Spears - Baby One More Time</li>
<li>Britney Spears - Big Fat Bass (Feat. will.i.am)</li>
<li>Britney Spears - Criminal</li>
<li>Britney Spears - He About To Lose Me</li>
<li>Britney Spears - Hold It Against Me</li>
<li>Britney Spears - Im A Slave 4 U</li>
<li>Britney Spears - Lace & Leather</li>
<li>Britney Spears - One More Time</li>
<li>Britney Spears - Scary</li>
<li>Britney Spears - Trouble For Me</li>
<li>Brooks & Dunn - Hillbilly Deluxe</li>
<li>Bruce Hornsby - The Way It Is</li>
<li>Bruce Springsteen - Born to Run</li>
<li>Bruce Springsteen - Human Touch (cover)</li>
<li>Bruce Springsteen - My Lucky Day</li>
<li>Bruce Springsteen - Radio Nowhere</li>
<li>Bruno Mars - 24K Magic</li>
<li>Bruno mars - Grenade</li>
<li>Bruno Mars - Just The Way You Are</li>
<li>Bruno Mars - Locked Out of Heaven</li>
<li>Bruno Mars - Marry You</li>
<li>Bruno Mars - Treasure</li>
<li>Bruno Mars - Uptown Funk (with claps version)</li>
<li>Bruno Mars - Uptown Funk</li>
<li>Bryan Adams - One night love affair</li>
<li>Bryan Adams - Run to you</li>
<li>Bryan Adams - Summer of 69</li>
<li>Buckcherry - Crazy Bitch</li>
<li>Buckcherry - Highway Star</li>
<li>Buckcherry - Rescue Me</li>
<li>Buffalo Springfield - For What It's Worth</li>
<li>Bullet for My Valentine - Scream Aim Fire</li>
<li>Bullet for my Valentine - Tears Dont Fall</li>
<li>Bullet For My Valentine - Waking the Demon</li>
<li>Bullet for my Valentine - Your Betrayal</li>
<li>Bunny Knutson - Lemon Frosting</li>
<li>Bush - Comedown</li>
<li>Bush - Machinehead</li>
<li>Buzzcocks - What Do I Get</li>
</ul>