<ul>
<li>Caesars - Jerk It Out</li>
<li>Calvin Harris - How Deep Is Your Love (cover)</li>
<li>Candiria - Signs of discontent</li>
<li>Cannibal Corpse - Hammer Smashed Face</li>
<li>Capra - Low Day</li>
<li>Carl Douglas - Kung Fu Fighting</li>
<li>Carly Rae Jepsen - Call me maybe</li>
<li>Carmine Appice - Everybody's Comin</li>
<li>Carmine Appice - Gray Day</li>
<li>Carmine Appice - Stash</li>
<li>Carrie Underwood - Before He Cheats</li>
<li>Casey Abrams - Get Out</li>
<li>Cash - Church House Funkin</li>
<li>Cash - Downtown With the Bass Man</li>
<li>Cash - Havana</li>
<li>Cash - Rock with me</li>
<li>Casiopea - Dazzling</li>
<li>CCR - Proud Mary</li>
<li>Celine Dion - Loved Me Back To Life</li>
<li>Cerrone - Paradise Ep Joey Negro</li>
<li>Certe - Notti</li>
<li>Chad Wackerman- playalong</li>
<li>Chaka Khan - Ain t Nobody</li>
<li>Charli XCX - Boom Clap</li>
<li>Charlie Puth - Marvin Gaye</li>
<li>Cheap Trick - Dream Police</li>
<li>Cheap Trick - Hello There</li>
<li>Cheap Trick - I Want You to Want Me</li>
<li>Cheap Trick - Surrender (Live)</li>
<li>Cher - Believe</li>
<li>Cher - The Shoop Shoop Song</li>
<li>Chicago - Feeling Stronger Everyday</li>
<li>Chick Corea - Fiesta</li>
<li>Children Of Bodom - Are You Dead Yet</li>
<li>Children Of Bodom - Blooddrunk</li>
<li>Children Of Bodom - Done With Everything</li>
<li>Children Of Bodom - If You Want Peace Prepare For War</li>
<li>Children Of Bodom - Living Dead Beat</li>
<li>Children Of Bodom - Was It Worth It</li>
<li>Chimera - On Broken Glass</li>
<li>Chris Isaak - Wicked Game (cover)</li>
<li>Chris Rea - Fool it</li>
<li>Chris Rea - The Road to Hell (cover)</li>
<li>Christina Aguilera - Genie In The Bottle</li>
<li>Christina Aquilera - Your Body</li>
<li>Christmas Carol - Jingle Bells (jazzy version)</li>
<li>Chromatics - Kill for Love</li>
<li>Chromatics - Lady</li>
<li>Cinderella - Dont Know What You Got</li>
<li>Cinderella - Nobodys Fool</li>
<li>Cinderella - Shelter Me</li>
<li>Clean Bandit - Rather Be (Cover)</li>
<li>Cody Chesnutt - Look Good In Leather</li>
<li>Coheed and Cambria - Welcome Home</li>
<li>Cold War Kids - Hang Me Up to Dry</li>
<li>Coldplay - Clocks</li>
<li>Coldplay - Every Teardrop is a Waterfall</li>
<li>Coldplay - Fix You</li>
<li>Coldplay - In My Place</li>
<li>Coldplay - Paradise</li>
<li>Coldplay - Shiver</li>
<li>Coldplay - The Scientist</li>
<li>Coldplay - Viva la Vida</li>
<li>Coldplay - Yellow</li>
<li>Collective Soul - Shine</li>
<li>Corinne Bailey Rae - Put Your Records On</li>
<li>Corrosion of Conformity - Albatross</li>
<li>Counting Crows - Accidentally in Love</li>
<li>Counting Crows - Angels of the Silences</li>
<li>Counting Crows - Mr Jones</li>
<li>Cream - Crossroads</li>
<li>Cream - Sunshine Of Your Love (cover)</li>
<li>Cream - White Room</li>
<li>Creed - Higher</li>
<li>Creed - One Last Breath (Cover)</li>
<li>Creedence Clearwater Revival - Bad Moon Rising</li>
<li>Creedence Clearwater Revival - Commotion</li>
<li>Creedence Clearwater Revival - Down On The Corner</li>
<li>Creedence Clearwater Revival - Fortunate Son</li>
<li>Creedence Clearwater Revival - Have You ever Seen The Rain</li>
<li>Creedence Clearwater Revival - Lookin Out My Back Door</li>
<li>Creedence Clearwater Revival - Proud Mary</li>
<li>Creedence Clearwater Revival - Run Through The Jungle</li>
<li>Creedence Clearwater Revival - Susie Q</li>
<li>Creedence Clearwater Revival - Travelin' Band</li>
<li>Creedence Clearwater Revival - Up Around the Bend</li>
<li>Crooked - Nightmare</li>
<li>Cross Canadian Ragweed - Cry Lonely</li>
<li>Crowded House - Dont Dream Its Over</li>
<li>Culture Club - Do You Really Want to Hurt Me</li>
<li>Cutting Crew - Died in Your Arms v1</li>
<li>Cutting Crew - Died In Your Arms v2</li>
<li>Cyndi Lauper - Girls Just Wanna Have Fun</li>
<li>Cyndi Lauper - I Drove All Night</li>
<li>Cyndi Lauper - True Colors</li>
<li>Cynic - Evolutionary Sleeper</li>
<li>Cynic - Space for This</li>
</ul>