<ul>
<li>D projekt Feat Doro - Cold Prestige</li>
<li>Daft Punk - Get Lucky</li>
<li>Daft Punk Tron Legacy  - The Grid</li>
<li>Daniel Powter - Bad Day</li>
<li>Danzig - Mother</li>
<li>Darker My Love - Blue Day</li>
<li>Darkest Hour - Demon</li>
<li>Dashboard Confessional - Hands Down</li>
<li>Daughtry -  Home (Acoustic)</li>
<li>Daughtry - What About Now (Acoustic)</li>
<li>Dave Weckl - Latin</li>
<li>Dave Weckl - Rock ballad</li>
<li>Dave Weckl - Rock shuffle</li>
<li>Dave Weckl - Rock'n'roll</li>
<li>Dave Weckl - Straight ahead jazz</li>
<li>Dave Weckl - Straight eighths</li>
<li>Dave Weckl - Track No01</li>
<li>Dave Weckl - Track No02</li>
<li>Dave Weckl - Track No03</li>
<li>Dave Weckl - Track No04</li>
<li>Dave Weckl - Track No05</li>
<li>Dave Weckl - Track No06</li>
<li>Dave Weckl - Track No07</li>
<li>Dave Weckl - Track No08</li>
<li>David Bowie -  Fame</li>
<li>David Bowie - Blue Jean</li>
<li>David Bowie - Heroes</li>
<li>David Bowie - Let's Dance</li>
<li>David Bowie - Modern Love</li>
<li>David Bowie - Moonage Daydream</li>
<li>David Bowie - Space Oddity</li>
<li>David Bowie - Starman</li>
<li>David Bowie - Suffragette City</li>
<li>David Bowie - Under Pressure</li>
<li>David Bowie - Young Americans</li>
<li>David Bowie - Ziggy Stardust</li>
<li>David Garibaldi - Get what you want</li>
<li>David Garibaldi - Give me your love</li>
<li>David Garibaldi - Oakland zone</li>
<li>David Garibaldi - Page one</li>
<li>David Garibaldi - Pocketful of soul</li>
<li>David Garibaldi - This type of funk</li>
<li>Davidicus - You Really Like Me</li>
<li>Dead Kennedys - California Über Alles</li>
<li>Dead Kennedys - Holiday In Cambodia</li>
<li>Dead Kennedys - Police Truck</li>
<li>Dealership - Database Corrupted</li>
<li>Death of the Cool - Can't Let Go</li>
<li>Deep Purple - Burn</li>
<li>Deep Purple - Child In Time</li>
<li>Deep Purple - Highway Star</li>
<li>Deep Purple - Smoke On The Water v1</li>
<li>Deep purple - smoke on the water v2</li>
<li>Deep Purple - Soldier Of Fortune</li>
<li>Deep Purple - Space Truckin</li>
<li>Deep Purple - Strange Kind Of Woman</li>
<li>Deep Purple - Woman From Tokyo</li>
<li>Def Lepard - Pour some sugar on me</li>
<li>Def Leppard - Animal (Live)</li>
<li>Def Leppard - Armageddon It</li>
<li>Def Leppard - Bringin On A Heartbreak</li>
<li>Def Leppard - Foolin</li>
<li>Def Leppard - High n dry</li>
<li>Def Leppard - Hysteria</li>
<li>Def Leppard - Photograph v1</li>
<li>Def Leppard - Photograph v2</li>
<li>Def Leppard - Photograph v3</li>
<li>Def Leppard - Pour Some Sugar On Me (Live)</li>
<li>Def Leppard - Rock Of Ages v1</li>
<li>Def Leppard - Rock of Ages v2</li>
<li>Def Leppard - Undefeated</li>
<li>Deftones - Around The Fur</li>
<li>Deftones - Cherry Waves</li>
<li>Deftones - Hole in the earth</li>
<li>Deftones - Minerva</li>
<li>Deftones - My Own Summer (Shove It)</li>
<li>Delegation - Darlin</li>
<li>Demi Lovato - Here We Go Again</li>
<li>Demi Lovato - Let It Go</li>
<li>Demon Hunter - Collapsing</li>
<li>Demon Hunter - The World is a Thorn</li>
<li>Dennis Chambers - Diamond</li>
<li>Dennis chambers - Sou you say</li>
<li>Depeche Mode - Enjoy The Silence</li>
<li>Depeche Mode - Never Let Me Down Again</li>
<li>Depeche Mode - Personal Jesus</li>
<li>Depeche Mode - Policy Of Truth</li>
<li>Derrick and the Dominos - Layla</li>
<li>Destiny's Child - Jumpin Jumpin</li>
<li>Dethklok - Bloodlines</li>
<li>Dethklok - Laser Cannon Deth Sentence</li>
<li>DevilDriver - Clouds Over California</li>
<li>Devin Townsend - ZTO</li>
<li>Devo - Girl U Want</li>
<li>Devo - Uncontrollable Urge</li>
<li>Devo - Whip It</li>
<li>Di-Rect - Johnny</li>
<li>Diamond Head - Am I Evil</li>
<li>Dido - Thank You</li>
<li>Die Arzte -  Deine schuld</li>
<li>Die Toten Hosen - Hier kommt Alex</li>
<li>Dierks Bentley - Free and Easy (Down the Road I Go)</li>
<li>Dimmu Borgir - The Chosen Legacy</li>
<li>Dimmu Borgir - The Sacrilegious Scorn</li>
<li>Dimmu Borgir - The Serpentine Offering</li>
<li>Dinosaur Jr - Feel the Pain</li>
<li>Dio - Holy Diver</li>
<li>Dio - Rainbow in the Dark v1</li>
<li>Dio - Rainbow In the Dark v2</li>
<li>Dio - Stand Up And Shout</li>
<li>Dire Straits - Money For Nothing v1</li>
<li>Dire Straits - Money For Nothing v2</li>
<li>Dire Straits - Romeo And Juliet</li>
<li>Dire Straits - So Far Away (cover)</li>
<li>Dire Straits - Sultans of swing v1</li>
<li>Dire Straits - Sultans of swing v2</li>
<li>Dire Straits - Sultans of swing v3</li>
<li>Dire Straits - Walk of life v1</li>
<li>Dire Straits - Walk of life v2</li>
<li>Dire Straits - Walk of life v3</li>
<li>Disturbed - Down with the Sickness</li>
<li>Disturbed - Indestructible</li>
<li>Disturbed - Inside the Fire</li>
<li>Disturbed - Meaning of Life</li>
<li>Disturbed - Stricken</li>
<li>Disturbed - Stupify</li>
<li>Disturbed - The Game</li>
<li>Disturbed - Voices</li>
<li>Dixie Chicks - Sin Wagon</li>
<li>DJ Shadow - Enuff</li>
<li>Don Liberati - Love Holds it Down</li>
<li>Don McLean - American Pie</li>
<li>Doobie Brothers - China Grove</li>
<li>Doobie Brothers - Listen to the Music</li>
<li>Doobie Brothers - Long Train Running v1</li>
<li>Doobie Brothers - Long Train Running v2</li>
<li>Doobie Brothers - Long Train Running v3</li>
<li>Dover - King George</li>
<li>Dragonforce - Fury Of The Storm</li>
<li>Dragonforce - Operation Ground and Pound</li>
<li>DragonForce - Through the Fire and Flames</li>
<li>Dream Theater - 6 OClock (Quiet Count)</li>
<li>Dream Theater - A Nightmare To Remember</li>
<li>Dream Theater - A Rite of Passage</li>
<li>Dream Theater - Caught in a Web</li>
<li>Dream Theater - Constant Motion v1</li>
<li>Dream Theater - Constant Motion v2</li>
<li>Dream Theater - Erotomania v1</li>
<li>Dream Theater - Erotomania v2</li>
<li>Dream Theater - Hell's Kitchen</li>
<li>Dream Theater - Honor Thy Father</li>
<li>Dream Theater - In the Name of God</li>
<li>Dream Theater - Innocence Faded</li>
<li>Dream Theater - Lie</li>
<li>Dream Theater - Lifting Shadows Off a Dream</li>
<li>Dream Theater - Metropolis Part 1</li>
<li>Dream Theater - On the back of angels</li>
<li>Dream Theater - Panic Attack</li>
<li>Dream Theater - Pull Me Under</li>
<li>Dream Theater - Scarred</li>
<li>Dream Theater - Space Dye Vest</li>
<li>Dream Theater - Strange dejavu</li>
<li>Dream Theater - The Best of Times</li>
<li>Dream Theater - The Count of Tuscany</li>
<li>Dream Theater - The Dance Of Eternity</li>
<li>Dream Theater - The Mirror</li>
<li>Dream Theater - The Shattered Fortress</li>
<li>Dream Theater - These Walls</li>
<li>Dream Theater - Voices</li>
<li>Dream Theater - Wither</li>
<li>Drive By Truckers - 3 Dimes Down</li>
<li>Dropkick Murphys - I'm Shipping Up To Boston</li>
<li>Drowning Pool - Bodies v1</li>
<li>Drowning Pool - Bodies v2</li>
<li>Drowning Pool - Sermon</li>
<li>Drumlessversion - Big Band Play Along (1)</li>
<li>Drumlessversion - Big Band Play Along (2)</li>
<li>Drumlessversion - Big Band Play Along (3)</li>
<li>Drumlessversion - Big Band Play Along (4)</li>
<li>Drumlessversion - Big Band Play Along (5)</li>
<li>Drumlessversion - Big Band Play Along (6)</li>
<li>Drumlessversion - Big Band Play Along (7)</li>
<li>Drumlessversion - Big Band Play Along (8)</li>
<li>Drumlessversion - Big Band Play Along (9)</li>
<li>Drumlessversion - Big Band Play Along (10)</li>
<li>Drumlessversion - Big Band Play Along (11)</li>
<li>Drumlessversion - Big Band Play Along (12)</li>
<li>Drumlessversion - Big Band Play Along (13)</li>
<li>Drumlessversion - Big Band Play Along (14)</li>
<li>Drumlessversion - Big Band Play Along (15)</li>
<li>Drumlessversion - Big Band Play Along (16)</li>
<li>Drumlessversion - Big Band Play Along (17)</li>
<li>Drumlessversion - Big Band Play Along (18)</li>
<li>Drumlessversion - Big Band Play Along (19)</li>
<li>Drumlessversion - Big Band Play Along (20)</li>
<li>Drumlessversion - Big Band Play Along (21)</li>
<li>Drumlessversion - Big Band Play Along (22)</li>
<li>Drumlessversion - Big Band Play Along (23)</li>
<li>Drumlessversion - Big Band Play Along (24)</li>
<li>Drumlessversion - Big Band Play Along (25)</li>
<li>Drumlessversion - Big Band Play Along (26)</li>
<li>Drumlessversion - Big Band Play Along (27)</li>
<li>Drumlessversion - Country playalong 1</li>
<li>Drumlessversion - Country playalong 2</li>
<li>Drumlessversion - Custom Ballad Song</li>
<li>Drumlessversion - Custom Metal Song 1</li>
<li>Drumlessversion - Custom Rock Song</li>
<li>Drumlessversion - Disco Funk 1</li>
<li>Drumlessversion - Disco Funk 2</li>
<li>Drumlessversion - Disco Funk 3</li>
<li>Drumlessversion - Disco Funk 4</li>
<li>Drumlessversion - Disco Funk 5</li>
<li>Drumlessversion - Double Pedal Metal 1</li>
<li>Drumlessversion - Double Pedal Metal 2</li>
<li>Drumlessversion - Double Pedal Metal 3</li>
<li>Drumlessversion - Double Pedal Metal 4</li>
<li>Drumlessversion - Double Pedal Metal 5</li>
<li>Drumlessversion - Double Pedal Metal 6</li>
<li>Drumlessversion - Double Pedal Metal 7</li>
<li>Drumlessversion - Double Pedal Metal 8</li>
<li>Drumlessversion - Double Pedal Metal 9</li>
<li>Drumlessversion - Double Pedal Metal 10</li>
<li>Drumlessversion - Double Pedal Metal 11</li>
<li>Drumlessversion - Double Pedal Metal 12</li>
<li>Drumlessversion - Double Pedal Metal 13</li>
<li>Drumlessversion - Double Pedal Metal 14</li>
<li>Drumlessversion - Funk Groove (1)</li>
<li>Drumlessversion - Funk Groove (2)</li>
<li>Drumlessversion - Funk Groove (3)</li>
<li>Drumlessversion - Funk Groove (4)</li>
<li>Drumlessversion - Funk Groove (5)</li>
<li>Drumlessversion - funk playalong 1</li>
<li>Drumlessversion - funk playalong 2</li>
<li>Drumlessversion - funk playalong 3</li>
<li>Drumlessversion - funk playalong 4</li>
<li>Drumlessversion - funk playalong 5</li>
<li>Drumlessversion - funk playalong 6</li>
<li>Drumlessversion - funk playalong 7</li>
<li>Drumlessversion - funk playalong 8</li>
<li>Drumlessversion - funk playalong 9</li>
<li>Drumlessversion - funk playalong 10</li>
<li>Drumlessversion - funk playalong 11</li>
<li>Drumlessversion - funk playalong 12</li>
<li>Drumlessversion - funk playalong 13</li>
<li>Drumlessversion - funk playalong 14</li>
<li>Drumlessversion - funk playalong 15</li>
<li>Drumlessversion - funk playalong 16</li>
<li>Drumlessversion - funk playalong 17</li>
<li>Drumlessversion - Instrumedley 1</li>
<li>Drumlessversion - Instrumedley 2</li>
<li>Drumlessversion - Instrumental playalong 1</li>
<li>Drumlessversion - Instrumental playalong 2</li>
<li>Drumlessversion - Instrumental playalong 3</li>
<li>Drumlessversion - Instrumental playalong 4</li>
<li>Drumlessversion - Instrumental playalong 5</li>
<li>Drumlessversion - Instrumental playalong 6</li>
<li>Drumlessversion - Instrumental playalong 7</li>
<li>Drumlessversion - Instrumental playalong 8</li>
<li>Drumlessversion - Jazz exercises 1</li>
<li>Drumlessversion - Jazz exercises 2</li>
<li>Drumlessversion - Jazz exercises 3</li>
<li>Drumlessversion - Jazz exercises 4</li>
<li>Drumlessversion - Jazz exercises 5</li>
<li>Drumlessversion - Jazz exercises 6</li>
<li>Drumlessversion - Jazz exercises 7</li>
<li>Drumlessversion - Jazz exercises 8</li>
<li>Drumlessversion - Jazz exercises 9</li>
<li>Drumlessversion - Jazz exercises 10</li>
<li>Drumlessversion - Jazz exercises 11</li>
<li>Drumlessversion - Jazz exercises 12</li>
<li>Drumlessversion - Jazz exercises 13</li>
<li>Drumlessversion - Jazz exercises 14</li>
<li>Drumlessversion - Jazz exercises 15</li>
<li>Drumlessversion - Jazz exercises 16</li>
<li>Drumlessversion - Jazz exercises 17</li>
<li>Drumlessversion - Jazz exercises 18</li>
<li>Drumlessversion - Jazz exercises 19</li>
<li>Drumlessversion - Jazz exercises 20</li>
<li>Drumlessversion - Jazz exercises 21</li>
<li>Drumlessversion - Jazz exercises 22</li>
<li>Drumlessversion - Jazz exercises 23</li>
<li>Drumlessversion - Jazz exercises 24</li>
<li>Drumlessversion - Jazz exercises 25</li>
<li>Drumlessversion - Jazz exercises 26</li>
<li>Drumlessversion - Jazz exercises 27</li>
<li>Drumlessversion - Jazz exercises 28</li>
<li>Drumlessversion - Jazz exercises 29</li>
<li>Drumlessversion - Jazz exercises 30</li>
<li>Drumlessversion - Jazz exercises 31</li>
<li>Drumlessversion - Jazz exercises 32</li>
<li>Drumlessversion - Jazz exercises 33</li>
<li>Drumlessversion - Jazz exercises 34</li>
<li>Drumlessversion - Jazz exercises 35</li>
<li>Drumlessversion - Jazz exercises 36</li>
<li>Drumlessversion - Jazz exercises 37</li>
<li>Drumlessversion - Jazz exercises 38</li>
<li>Drumlessversion - Jazz exercises 39</li>
<li>Drumlessversion - Jazz exercises 40</li>
<li>Drumlessversion - Jazz exercises 41</li>
<li>Drumlessversion - Jazz exercises 42</li>
<li>Drumlessversion - Jazz exercises 43</li>
<li>Drumlessversion - Jazz exercises 44</li>
<li>Drumlessversion - Jazz exercises 45</li>
<li>Drumlessversion - Jazz exercises 46</li>
<li>Drumlessversion - Jazz exercises 47</li>
<li>Drumlessversion - Jazz exercises 48</li>
<li>Drumlessversion - Jazz exercises 49</li>
<li>Drumlessversion - Jazz exercises 50</li>
<li>Drumlessversion - Jazz exercises 51</li>
<li>Drumlessversion - Jazz exercises 52</li>
<li>Drumlessversion - Jazz exercises 53</li>
<li>Drumlessversion - Jazz exercises 54</li>
<li>Drumlessversion - Jazz exercises 55</li>
<li>Drumlessversion - Jazz exercises 56</li>
<li>Drumlessversion - Jazz exercises 57</li>
<li>Drumlessversion - Jazz exercises 58</li>
<li>Drumlessversion - Jazz exercises 59</li>
<li>Drumlessversion - Jazz exercises 60</li>
<li>Drumlessversion - Jazz exercises 61</li>
<li>Drumlessversion - Jazz exercises 62</li>
<li>Drumlessversion - Jazz exercises 63</li>
<li>Drumlessversion - Jazz exercises 64</li>
<li>Drumlessversion - Jazz exercises 65</li>
<li>Drumlessversion - Jazz exercises 66</li>
<li>Drumlessversion - Jazz exercises 67</li>
<li>Drumlessversion - Jazz exercises 68</li>
<li>Drumlessversion - Jazz exercises 69</li>
<li>Drumlessversion - Jazz exercises 70</li>
<li>Drumlessversion - Jazz exercises 71</li>
<li>Drumlessversion - Jazz exercises 72</li>
<li>Drumlessversion - Jazz exercises 73</li>
<li>Drumlessversion - Jazz exercises 74</li>
<li>Drumlessversion - Jazz exercises 75</li>
<li>Drumlessversion - Jazz exercises 76</li>
<li>Drumlessversion - Jazz exercises 77</li>
<li>Drumlessversion - Jazz exercises 78</li>
<li>Drumlessversion - Jazz exercises 79</li>
<li>Drumlessversion - Jazz exercises 80</li>
<li>Drumlessversion - Jazz exercises 81</li>
<li>Drumlessversion - Jazz exercises 82</li>
<li>Drumlessversion - Jazz exercises 83</li>
<li>Drumlessversion - Jazz exercises 84</li>
<li>Drumlessversion - Jazz exercises 85</li>
<li>Drumlessversion - Jazz exercises 86</li>
<li>Drumlessversion - Jazz exercises 87</li>
<li>Drumlessversion - Jazz exercises 88</li>
<li>Drumlessversion - Jazz exercises 89</li>
<li>Drumlessversion - Jazz exercises 90</li>
<li>Drumlessversion - Jazz exercises 91</li>
<li>Drumlessversion - Jazz exercises 92</li>
<li>Drumlessversion - Jazz exercises 93</li>
<li>Drumlessversion - Jazz exercises 94</li>
<li>Drumlessversion - Jazz exercises 95</li>
<li>Drumlessversion - Jazz exercises 96</li>
<li>Drumlessversion - Jazz exercises 97</li>
<li>Drumlessversion - Jazz exercises 98</li>
<li>Drumlessversion - Jazz exercises 99</li>
<li>Drumlessversion - Jazz exercises 100</li>
<li>Drumlessversion - Jazz exercises 101</li>
<li>Drumlessversion - Jazz exercises 102</li>
<li>Drumlessversion - Jazz exercises 103</li>
<li>Drumlessversion - Jazz exercises 104</li>
<li>Drumlessversion - Jazz Groove (1)</li>
<li>Drumlessversion - Jazz Groove (2)</li>
<li>Drumlessversion - Jazz Groove (3)</li>
<li>Drumlessversion - Jazz Groove (4)</li>
<li>Drumlessversion - Jazz Groove (5)</li>
<li>Drumlessversion - Jazz Groove (6)</li>
<li>Drumlessversion - Jazz Groove (7)</li>
<li>Drumlessversion - Jazz Groove (8)</li>
<li>Drumlessversion - Jazz Groove (9)</li>
<li>Drumlessversion - Jazz Groove (10)</li>
<li>Drumlessversion - Jazz Groove (11)</li>
<li>Drumlessversion - Jazz Groove (12)</li>
<li>Drumlessversion - Jazz Groove (13)</li>
<li>Drumlessversion - Jazz Groove (14)</li>
<li>Drumlessversion - jazz playalong (1)</li>
<li>Drumlessversion - jazz playalong (2)</li>
<li>Drumlessversion - jazz playalong (3)</li>
<li>Drumlessversion - jazz playalong (4)</li>
<li>Drumlessversion - jazz playalong (5)</li>
<li>Drumlessversion - jazz playalong (6)</li>
<li>Drumlessversion - jazz playalong (7)</li>
<li>Drumlessversion - jazz playalong (8)</li>
<li>Drumlessversion - jazz playalong (9)</li>
<li>Drumlessversion - jazz playalong (10)</li>
<li>Drumlessversion - jazz playalong (11)</li>
<li>Drumlessversion - jazz playalong (12)</li>
<li>Drumlessversion - jazz playalong (13)</li>
<li>Drumlessversion - Mission Impossible Theme</li>
<li>Drumlessversion - Pink Panther Theme</li>
<li>Drumlessversion - R&B Hip Hop Groove (1)</li>
<li>Drumlessversion - R&B Hip Hop Groove (2)</li>
<li>Drumlessversion - R&B Hip Hop Groove (3)</li>
<li>Drumlessversion - R&B Hip Hop Groove (4)</li>
<li>Drumlessversion - R&B Hip Hop Groove (5)</li>
<li>Drumlessversion - R&B Hip Hop Groove (6)</li>
<li>Drumlessversion - R&B Hip Hop Groove (7)</li>
<li>Drumlessversion - R&B Hip Hop Groove (8)</li>
<li>Drumlessversion - Rock Groove (1)</li>
<li>Drumlessversion - Rock Groove (2)</li>
<li>Drumlessversion - Rock Groove (3)</li>
<li>Drumlessversion - Rock Groove (4)</li>
<li>Drumlessversion - Rock Groove (5)</li>
<li>Drumlessversion - Rock Groove (6)</li>
<li>Drumlessversion - Rockit 1</li>
<li>Drumlessversion - Rockit 2</li>
<li>Drumlessversion - Rockit 3</li>
<li>Drumlessversion - Rockit 4</li>
<li>Drumlessversion - Rockit 5</li>
<li>Drumlessversion - Rockit 6</li>
<li>Drumlessversion - Rockit 7</li>
<li>Drumlessversion - Rockit 8</li>
<li>Drumlessversion - Rockit 9</li>
<li>Drumlessversion - Rockit 10</li>
<li>Drumlessversion - Rockit 11</li>
<li>Drumlessversion - Rockit 12</li>
<li>Drumlessversion - Rockit 13</li>
<li>Drumlessversion - Rockit 14</li>
<li>Drumlessversion - Rockit 15</li>
<li>Drumlessversion - Rockit 16</li>
<li>Drumlessversion - Roots of blues</li>
<li>Drumlessversion - Sharp Groove</li>
<li>Drumlessversion - Super Mario Theme</li>
<li>Drumslessversion - Custom Funkadelic</li>
<li>Duffy - Warwick Avenue</li>
<li>Duran Duran - Girls On Film</li>
<li>Duran Duran - Hungry Like the Wolf</li>
<li>Duran Duran - Rio</li>
<li>Dusty Springfield - Spooky (cover)</li>
</ul>