<ul>
<li>Eagle Eye Cherry - Save Tonight</li>
<li>Eagles - Best of My Love (cover)</li>
<li>Eagles - Frail Grasp On The Big Picture</li>
<li>Eagles - Hotel California v1</li>
<li>Eagles - Hotel California v2</li>
<li>Eagles - Hotel California v3</li>
<li>Eagles - How long</li>
<li>Eagles - Life in the Fast Lane</li>
<li>Eagles - One Of These Nights</li>
<li>Eagles of Death Metal - Anything 'Cept the Truth</li>
<li>Eagles Of Death Metal - Cherry Cola</li>
<li>Eagles Of Death Metal - I Only Want You</li>
<li>Eagles Of Death Metal - Wannabe In LA</li>
<li>Earth Wind and Fire - Boogie Wonderland</li>
<li>Earth Wind and Fire - Lets Groove Tonight</li>
<li>Earth Wind and Fire - September</li>
<li>Earth Wind and Fire - Shining star</li>
<li>Echo and the Bunnymen - The Killing Moon</li>
<li>Ed Sheeran - Thinking Out Loud (Cover)</li>
<li>Eddie Money - Two Tickets To Paradise</li>
<li>Editors - Munich</li>
<li>Eiffel 65 - Blue Da Ba Dee</li>
<li>Electric 6 - Gay Bar</li>
<li>Ella Henderson - Ghost</li>
<li>Ellie Goulding - Burn</li>
<li>Ellie Goulding - Love me like you do</li>
<li>Ellie Goulding - On my mind</li>
<li>Elliott Smith - L.A</li>
<li>Elton John - Crocodile Rock</li>
<li>Elton John - Dont let the Sun Go Down on me</li>
<li>Elton John - Im Still Standing</li>
<li>Elton John - Saturday Night's Alright</li>
<li>Elvis - Suspicious Minds</li>
<li>Elvis Costello - Pump It Up</li>
<li>Emerson, Lake and Palmer - Fanfare</li>
<li>Emerson, Lake and Palmer - Peter Gunn</li>
<li>EMF - Unbelievable</li>
<li>Emperor - Curse You All Men! (Live)</li>
<li>Emperor - Inno A Satana (Live)</li>
<li>En Vogue - Don't Let Go</li>
<li>Endeverafter - I Wanna Be Your Man</li>
<li>Enrique Iglesias ft. Sean Paul - Bailando v1</li>
<li>Enrique Iglesias ft. Sean Paul - Bailando v2</li>
<li>Eric Clapton - Cocaine v1</li>
<li>Eric Clapton - Cocaine v2</li>
<li>Eric Clapton - I Shot the Sheriff (Cover)</li>
<li>Eric Clapton - Layla</li>
<li>Estelle - American Boy (Cover)</li>
<li>Etta James  - At Last</li>
<li>Europe - The Final Countdown v1</li>
<li>Europe - The Final Countdown v2</li>
<li>Evanecence - Bring me to life v1</li>
<li>Evanecence - Bring me to life v2</li>
<li>Evanescence - What You Want</li>
<li>Everclear - Santa Monica (Watch the World Die)</li>
<li>Evergreen Terrace - Sending Signals</li>
<li>Everlife - Real Wild Child</li>
<li>Evile - Thrasher</li>
<li>Extreme -  Do you want to play</li>
<li>Extreme - Play With Me</li>
</ul>