<ul>
<li>Face To Face - Disconnected</li>
<li>Faith Hill - Breathe</li>
<li>Faith No More - Epic</li>
<li>Faith No More - Midlife Crisis</li>
<li>Faith No More - We Care A Lot</li>
<li>Fall Out Boy - America’s Sweethearts</li>
<li>Fall Out Boy - Dance Dance</li>
<li>Fall Out Boy - Dead on Arrival</li>
<li>Fall Out Boy - I Dont Care</li>
<li>Fall Out Boy - Sugar, We're Goin' Down</li>
<li>Fall Out Boy - The Take Over, the Breaks Over</li>
<li>Fall Out Boy - This Ain't a Scene, It's an Arms Race</li>
<li>Fall Out Boy - Thnks for the Mmrs</li>
<li>Fatboy Slim - Weapon Of Choice</li>
<li>Filter - Hey Man, Nice Shot</li>
<li>Filter - Take a Picture</li>
<li>Fine Young Cannibals - She Drives Me Crazy</li>
<li>Finger Eleven - Paralyzer</li>
<li>Finley - Adrenalina</li>
<li>Finley - Tutto E' Possibile</li>
<li>Firewind - World On Fire</li>
<li>Fito & Fitipaldis - Por La Boca Vive El Pez</li>
<li>Five Finger Death Punch - Burn It Down</li>
<li>Five Finger Death Punch - Hard To See</li>
<li>Fleetwood Mac - Don't Stop</li>
<li>Fleetwood Mac - Dreams</li>
<li>Fleetwood Mac - Go Your Own Way</li>
<li>Fleetwood Mac - Gold Dust Woman</li>
<li>Fleetwood Mac - Rhiannon</li>
<li>Flo Rida - I Don't Like It, I Love It (Cover)</li>
<li>Flo Rida - Low</li>
<li>Flo Rida - Whistle</li>
<li>Flo Rida feat T Pain - Low (Travis Barker Remix)</li>
<li>Flogging Molly - (No More) Paddy's Lament</li>
<li>Flogging Molly - Requiem for a Dying Song</li>
<li>Flogging Molly - The Seven Deadly Sins</li>
<li>Flyleaf - Again</li>
<li>Flyleaf - I'm So Sick</li>
<li>Foo Fighters - All My Life</li>
<li>Foo Fighters - Best of You</li>
<li>Foo Fighters - Breakout</li>
<li>Foo Fighters - D.O.A</li>
<li>Foo Fighters - Doll</li>
<li>Foo Fighters - Enough Space</li>
<li>Foo Fighters - Everlong</li>
<li>Foo Fighters - Februray Stars</li>
<li>Foo Fighters - Hey, Johnny Park</li>
<li>Foo Fighters - I'll Stick Around</li>
<li>Foo Fighters - Learn To Fly</li>
<li>Foo Fighters - Lonely as You</li>
<li>Foo Fighters - Long Road to Ruin</li>
<li>Foo Fighters - Monkey Wrench</li>
<li>Foo Fighters - My Hero</li>
<li>Foo Fighters - My Poor Brain</li>
<li>Foo Fighters - New Way Home</li>
<li>Foo Fighters - No Way Back</li>
<li>Foo Fighters - Rope</li>
<li>Foo Fighters - See You</li>
<li>Foo Fighters - Stacked Actors</li>
<li>Foo Fighters - The Pretender</li>
<li>Foo Fighters - This Is A Call</li>
<li>Foo Fighters - Times Like These</li>
<li>Foo Fighters - Up In Arms</li>
<li>Foo Fighters - Walk</li>
<li>Foo Fighters - Walking After You</li>
<li>Foo Fighters - Wind Up</li>
<li>Foreigner - Blue Morning, Blue Day</li>
<li>Foreigner - Cold As Ice</li>
<li>Foreigner - Dirty White Boy</li>
<li>Foreigner - Double Vision v1</li>
<li>Foreigner - Double Vision v2</li>
<li>Foreigner - Feels Like the First Time</li>
<li>Foreigner - Hot Blooded</li>
<li>Foreigner - I Want to Know What Love is</li>
<li>Foreigner - Juke Box Hero v1</li>
<li>Foreigner - Juke box hero v2</li>
<li>Foreigner - Urgent</li>
<li>Foreigner - Waiting for a Girl Like You</li>
<li>Fort Minor - Remember The Name</li>
<li>Fort Minor - Whered you go</li>
<li>Foster The People - Pumped Up Kicks</li>
<li>Fountains of Wayne - Stacy's Mom</li>
<li>Four Seasons - What A Night</li>
<li>Frank Sinatra - Fly Me To The Moon</li>
<li>Frank Sinatra - My Way</li>
<li>Frank Sinatra - New York, New York</li>
<li>Frankie Goes To Hollywood - Relax</li>
<li>Franz Ferdinand - Take Me Out</li>
<li>Free - All Right Now v1</li>
<li>Free - All Right Now v2</li>
<li>Freezepop - Brainpower</li>
<li>Fun - We Are Young</li>
<li>Funk - Groove 11 - Fast</li>
</ul>