<ul>
<li>Garbage - I Think I'm Paranoid</li>
<li>Garbage - Only Happy When It Rains</li>
<li>Garbage - Why Do You Love Me</li>
<li>Gary Moore - Red House (cover)</li>
<li>Gary Moore - The Loner</li>
<li>Genesis - Abacab</li>
<li>Genesis - Follow you follow me</li>
<li>Genesis - Invisible Touch</li>
<li>Genesis - Jesus He Knows Me</li>
<li>Genesis - Land of confusion</li>
<li>Genesis - Turn it on again</li>
<li>George Ezra - Budapest (cover)</li>
<li>George Harrison - It Don't Come Easy</li>
<li>George Michael - Careless Whisper v1</li>
<li>George Michael - Careless Whisper v2</li>
<li>George Thorogood - Bad To The Bone</li>
<li>George Thorogood And The Destroyers - Move It On Over (Live)</li>
<li>Gerson Lima Filho - Ambience Outburst</li>
<li>Ghost Hounds - Ashes To Fire</li>
<li>Gigakoops - The Closing of Chaos</li>
<li>God Forbid - Empire of the Gun</li>
<li>Godsmack - Greed</li>
<li>Godsmack - I Stand Alone</li>
<li>Golden Earring - Radar Love</li>
<li>Goo Goo Dolls - Iris</li>
<li>Goo Goo Dolls - Name</li>
<li>Good Charlotte - Dance Floor Anthem</li>
<li>Good Charlotte - Girls & Boys</li>
<li>Good Charlotte - Lifestyles of the Rich and Famous</li>
<li>Gorillaz - Clint Eastwood</li>
<li>Gorillaz - Demon Days</li>
<li>Gorillaz - Feel Good Inc (Feat De La Soul)</li>
<li>Gorillaz - Feel Good Inc</li>
<li>Gov’t Mule - Streamline Woman</li>
<li>Goyte - Somebody That I Used To Know</li>
<li>Grand Funk Railroad - We’re An American Band</li>
<li>Grant Nelson Brian Tappert - Lets Do It</li>
<li>Grateful Dead - Alabama Getaway</li>
<li>Grateful Dead - Truckin'</li>
<li>Graveyard BBQ - Cheat on the Church</li>
<li>Green Day - 21 Guns</li>
<li>Green Day - American Idiot</li>
<li>Green Day - Are We The Waiting</li>
<li>Green Day - Basket Case</li>
<li>Green Day - Boulevard of Broken Dreams (live)</li>
<li>Green Day - Boulevard of Broken Dreams</li>
<li>Green Day - Brain Stew Jaded</li>
<li>Green Day - Burnout</li>
<li>Green Day - Chump</li>
<li>Green Day - City of the damned</li>
<li>Green Day - Coming Clean</li>
<li>Green Day - Dearly Beloved</li>
<li>Green Day - Emenius Sleepus</li>
<li>Green Day - Extraordinary Girl</li>
<li>Green Day - F.O.D.</li>
<li>Green Day - Geek Stink Breath</li>
<li>Green Day - Give Me Novacaine She's a Rebel</li>
<li>Green Day - Having a Blast</li>
<li>Green Day - Hitchin' a Ride</li>
<li>Green Day - Holiday</li>
<li>Green Day - I don't care</li>
<li>Green Day - In the End</li>
<li>Green Day - Jesus of Suburbia</li>
<li>Green Day - Know Your Enemy</li>
<li>Green Day - Last Night on Earth</li>
<li>Green Day - Letterbomb</li>
<li>Green Day - Longview</li>
<li>Green Day - Minority</li>
<li>Green Day - Nice guys finish last</li>
<li>Green Day - Pulling Teeth (live)</li>
<li>Green Day - Pulling Teeth</li>
<li>Green Day - Restless Heart Syndrome</li>
<li>Green Day - Sassafras Roots</li>
<li>Green Day - She</li>
<li>Green Day - Tales of another broken home</li>
<li>Green Day - Viva La Gloria (Little Girl)</li>
<li>Green Day - Wake Me Up When September Ends</li>
<li>Green Day - Warning</li>
<li>Green Day - Welcome to paradise</li>
<li>Green Day - Whats her name</li>
<li>Green Day - When I Come Around</li>
<li>Guano Apes - Anne Claire</li>
<li>Guano Apes - Living In A Lie</li>
<li>Guano Apes - Open Your Eyes</li>
<li>Guns n Roses -  IRS</li>
<li>Guns n Roses -  Knockin on Heavens Door (Cover)</li>
<li>Guns n Roses - Better</li>
<li>Guns n Roses - Catcher in the Rye</li>
<li>Guns n Roses - Chinese Democracy</li>
<li>Guns n Roses - Civil War (cover)</li>
<li>Guns n Roses - Dont cry (cover)</li>
<li>Guns n Roses - If The World</li>
<li>Guns n Roses - Madagascar</li>
<li>Guns n Roses - Mr Brownstone (cover)</li>
<li>Guns n Roses - Nightrain</li>
<li>Guns N Roses - Nigtrain (cover)</li>
<li>Guns n Roses - November Rain (cover)</li>
<li>Guns n Roses - Paradise City (cover)</li>
<li>Guns n Roses - Prostitue</li>
<li>Guns n Roses - Riad N' The Bedouins</li>
<li>Guns n Roses - Scraped</li>
<li>Guns n Roses - Shackler's Revenge</li>
<li>Guns n Roses - Sorry</li>
<li>Guns n Roses - Street of Dreams</li>
<li>Guns n Roses - Sweet Child O' Mine (cover)</li>
<li>Guns n Roses - There Was A Time</li>
<li>Guns n Roses - This I Love</li>
<li>Guns n Roses - Welcome to the Jungle (cover)</li>
<li>Guns n Roses - Welcome to the jungle v1</li>
<li>Guns n Roses - Welcome to the jungle v2</li>
<li>GWAR - Gor Gor</li>
<li>Gwen Stefani - Hollaback girl</li>
</ul>