<ul>
<li>H is Orange - Nothing all The Time</li>
<li>Hall & Oates - I Cant Go for That</li>
<li>Hall & Oates - Maneater</li>
<li>Hall & Oates - Private Eyes</li>
<li>Harvey Danger - Cream And Bastards Rise</li>
<li>Hawkwind - Master of the Universe</li>
<li>Hawthorne Heights - Rescue Me</li>
<li>HBlockx - Countdown To Insanity</li>
<li>Heart - All I Wanna Do Is Make Love To You</li>
<li>Heart - Alone</li>
<li>Heart - Barracuda</li>
<li>Heart - Magic Man</li>
<li>Helmet - Unsung</li>
<li>Herbie Hancock - Chameleon</li>
<li>Hilary Duff - So Yesterday</li>
<li>HIM - Killing Loneliness</li>
<li>HIM - Wings of A Butterfly</li>
<li>Hinder - Lips of an Angel</li>
<li>Hinder - Use Me</li>
<li>Hole - Celebrity Skin</li>
<li>Hollywood Undead - Young</li>
<li>Honest Bob and the Incentives Factory - I Get By</li>
<li>Hoobastank - The Reason</li>
<li>Housse de Racket - Oh Yeah!</li>
<li>Huey Lewis And The News - Heart of Rock and Roll</li>
<li>Huey Lewis And The News - I want a new drug</li>
<li>Huey Lewis And the News - The Power of Love</li>
<li>Hundred Reasons -  I'll Never Know</li>
<li>Hush Puppies - You're Gonna Say Yeah</li>
<li>Hypernove - Viva La Resistance</li>
</ul>