<ul>
<li>I Mother Earth - Levitate</li>
<li>Ida Maria - Oh My God</li>
<li>Iggy Azalea feat. Jennifer Hudson - Trouble</li>
<li>Iggy Pop - Lust For Life</li>
<li>Iggy Pop - The Passenger</li>
<li>Ignition - R. Kelly</li>
<li>Imagine Dragons - Radioactive</li>
<li>In Flames - Disconnected</li>
<li>Incubus - Dig</li>
<li>Incubus - Drive</li>
<li>Incubus - Love Hurts</li>
<li>Incubus - Nice to know you</li>
<li>Incubus - Stellar</li>
<li>Interpol - Obstacle 1</li>
<li>Interpol - PDA</li>
<li>Interpol - Slow Hands</li>
<li>INXS - Bitter Tears</li>
<li>INXS - Need You Tonight</li>
<li>Iron Maiden -  Aces High</li>
<li>Iron Maiden - 2 Minutes To Midnight</li>
<li>Iron Maiden - Aces High (Live)</li>
<li>Iron Maiden - Can I Play With Madness</li>
<li>Iron Maiden - Fear of the Dark (Live)</li>
<li>Iron Maiden - Flight of Icarus</li>
<li>Iron Maiden - Hallowed Be Thy Name (Live)</li>
<li>Iron Maiden - Hallowed Be Thy Name</li>
<li>Iron Maiden - Infinite Dreams</li>
<li>Iron Maiden - Iron Maiden (Live)</li>
<li>Iron Maiden - Phantom of the opera</li>
<li>Iron Maiden - Powerslave v1</li>
<li>Iron Maiden - Powerslave v2</li>
<li>Iron Maiden - Rime Of The Ancient Mariner</li>
<li>Iron Maiden - Run to the Hills v1</li>
<li>Iron Maiden - Run to the Hills v2</li>
<li>Iron Maiden - Run to the Hills v3</li>
<li>Iron Maiden - Seventh Son of a Seventh Son</li>
<li>Iron Maiden - The Clairvoyent</li>
<li>Iron Maiden - The number of the beast v1</li>
<li>Iron Maiden - The number of the beast v2</li>
<li>Iron Maiden - The Prisoner</li>
<li>Iron Maiden - The Trooper v1</li>
<li>Iron Maiden - The Trooper v2</li>
<li>Iron Maiden - The Wicker Man</li>
<li>Iron Maiden - Wasted Years</li>
<li>Isley Brothers - Its your thing</li>
<li>Italian Gianna Nannini - I Maschi</li>
<li>Italian Zucchero - Con Le Mani</li>
<li>Italian Zucchero - Diavolo In Me</li>
</ul>