<ul>
<li>J Geils Band - Freeze Frame</li>
<li>J Giles Band - Centerfold</li>
<li>Jack White & Alicia Keys - Another Way to Die</li>
<li>Jackson 5 - ABC</li>
<li>Jackson 5 - I Want You Back</li>
<li>Jackson 5 - Shake Your Body To The Ground</li>
<li>James Bay - Hold Back The River (cover)</li>
<li>James brown - Cold sweat</li>
<li>James Brown - I Got You</li>
<li>James Brown - Sex Machine</li>
<li>James Gang - Funk #49</li>
<li>Jamiroquai - Cosmic Girl</li>
<li>Jamiroquai - Deeper Underground</li>
<li>Jamiroquai - Little L</li>
<li>Jamiroquai - Too young to die</li>
<li>Jamiroquai - Virtual Insanity</li>
<li>Jane's Addiction - Been Caught Stealing</li>
<li>Jane's Addiction - Mountain Song</li>
<li>Jane’s Addiction - Stop</li>
<li>Janes Addiction - Jane Says</li>
<li>Janet Jackson - Black Cat</li>
<li>Janis Joplin - Piece of My Heart</li>
<li>Janis Joplin & the Full Tilt Boogie Band - Me and Bobby McGee</li>
<li>Jason Aldean - She's Country</li>
<li>Jason Derulo - Want you to want me</li>
<li>Jay-Z - Show Me What You Got</li>
<li>Jay-Z feat. Alicia Keys - Empire State of Mind (cover)</li>
<li>Jazzanova - I Can See</li>
<li>Jeff Beck - Scatterbrain</li>
<li>Jeff wayne - War of the wolrds</li>
<li>Jess Glynne - Don't Be So Hard On Yourself (Cover)</li>
<li>Jesse Mc Cartney - Beautiful Soul</li>
<li>Jessie J - Domino</li>
<li>Jessie J - Sexy Silk</li>
<li>Jet - Are You Gonna Be My Girl</li>
<li>Jet - She's A Genius</li>
<li>Jethro Tull - Aqualung</li>
<li>Jethro Tull - Hymn 43</li>
<li>Jim Chapin - I cant stop</li>
<li>Jimi Hendrix - 3rd Stone From the Sun</li>
<li>Jimi Hendrix - Ain't No Telling</li>
<li>Jimi Hendrix - All Along The Watchtower</li>
<li>Jimi Hendrix - Angel</li>
<li>Jimi Hendrix - Are You Experienced</li>
<li>Jimi Hendrix - Bold as Love</li>
<li>Jimi Hendrix - Can you see me</li>
<li>Jimi Hendrix - Castles Made of Sand</li>
<li>Jimi Hendrix - Crosstown Traffic</li>
<li>Jimi Hendrix - Fire (Live at Woodstock)</li>
<li>Jimi Hendrix - Fire</li>
<li>Jimi Hendrix - Foxy Lady (Live at Woodstock)</li>
<li>Jimi Hendrix - Foxy Lady v1</li>
<li>Jimi Hendrix - Foxy Lady v2</li>
<li>Jimi Hendrix - Freedom</li>
<li>Jimi Hendrix - Hey Joe (Live)</li>
<li>Jimi Hendrix - Hey Joe</li>
<li>Jimi Hendrix - If 6 Was 9</li>
<li>Jimi Hendrix - Little Wing v1</li>
<li>Jimi Hendrix - Little Wing v2</li>
<li>Jimi Hendrix - Love or Confusion</li>
<li>Jimi Hendrix - Manic Depression v1</li>
<li>Jimi Hendrix - Manic Depression v2</li>
<li>Jimi Hendrix - May This Be Love</li>
<li>Jimi Hendrix - One Rainy Wish</li>
<li>Jimi Hendrix - Purple Haze (Live)</li>
<li>Jimi Hendrix - Purple Haze v1</li>
<li>Jimi Hendrix - Purple Haze v2</li>
<li>Jimi Hendrix - Red house</li>
<li>Jimi Hendrix - Remember</li>
<li>Jimi Hendrix - Shes So Fine</li>
<li>Jimi Hendrix - Spanish Castle Magic</li>
<li>Jimi Hendrix - Stone Free</li>
<li>Jimi Hendrix - The Wind Cries Mary v1</li>
<li>Jimi Hendrix - The Wind Cries Mary v2</li>
<li>Jimi Hendrix - Up from the Skies</li>
<li>Jimi Hendrix - Valleys of Neptune</li>
<li>Jimi Hendrix - Wait Until Tomorrow</li>
<li>Jimi Hendrix - You Got Me Floatin</li>
<li>Jimmy Eat World - Bleed American</li>
<li>Jimmy Eat world - Let it happen</li>
<li>Jimmy Eat World - Pain</li>
<li>Jimmy Eat World - The Middle</li>
<li>Jimmy Weckl Debut - Across the nightmare</li>
<li>Joan Jett - Bad Reputation</li>
<li>Joan Jett - I Love Rock n Roll v1</li>
<li>Joan Jett - I Love Rock n Roll v2</li>
<li>Job For A Cowboy - Embedded</li>
<li>Job For A Cowboy - Unfurling A Darkened Gospel</li>
<li>Joe Bonamassa - Lonesome Road Blues</li>
<li>Joe Cocker - Unchain My Heart (cover)</li>
<li>Joe King - Black the sky</li>
<li>Joe Satriani - If I Could Fly</li>
<li>Joe Satriani - Satch Boogie</li>
<li>Joe Satriani - Surfing With the Alien</li>
<li>Joe Walsh - Life s Been Good</li>
<li>John 5 Feat Jim Root - Black Widow Of La Porte</li>
<li>John Lennon - Crippled Inside</li>
<li>John Lennon - Gimme Some Truth</li>
<li>John Lennon - Happy Xmas (War Is Over)</li>
<li>John Lennon - How Do You Sleep</li>
<li>John Lennon - I Don't Want to Be a Soldier</li>
<li>John Lennon - Imagine</li>
<li>John Lennon - It's So Hard</li>
<li>John Lennon - Jealous Guy</li>
<li>John Lennon - Oh My Love</li>
<li>John Lennon - Oh Yoko</li>
<li>John mellencamp - Hurts so good</li>
<li>John Newman - Love Me Again (Cover)</li>
<li>Johnny Cash - Cry, Cry, Cry</li>
<li>Johnny Cash - Dont Take Your Guns to Town</li>
<li>Johnny Cash - Five Feet High and Rising</li>
<li>Johnny Cash - Folsom Prison Blues</li>
<li>Johnny Cash - I Got Stripes</li>
<li>Johnny Cash - I Walk the Line</li>
<li>Johnny Cash - Ring Of Fire</li>
<li>Johnny Cash - Tennessee Flat Top Box</li>
<li>Johnny Cash - The Ballad of Ira Hayes</li>
<li>Johnny Guitar - Watson a real mother for ya</li>
<li>Johnny winter - Jumpin jack flash</li>
<li>Joker & the Thief - Wolfmother</li>
<li>Jonathan Coulton - Betty & Me</li>
<li>Jordin Sparks - Battlefield</li>
<li>Joseph King - Cut to the Chase</li>
<li>Joseph King - Double agent</li>
<li>Joss Stone - You Had Me</li>
<li>Journey - Any Way You Want It</li>
<li>Journey - Don't Stop Believin</li>
<li>Journey - Don't Stop Believing</li>
<li>Journey - Separate Ways v1</li>
<li>Journey - Separate Ways v2</li>
<li>Joy Division - Love Will Tear Us Apart</li>
<li>Juanes - Me Enamora</li>
<li>Judas priest - Breaking The Law</li>
<li>Judas Priest - Electric Eye</li>
<li>Judas Priest - Heading out to the Highway</li>
<li>Judas Priest - Hell Bent For Leather</li>
<li>Judas Priest - Painkiller</li>
<li>Judas Priest - You've Got Another Thing Comin</li>
<li>Juli - Perfekte Welle</li>
<li>Justin Bieber - Baby</li>
<li>Justin Bieber - Sorry (Cover)</li>
<li>Justin Bieber - What Do You Mean (Cover)</li>
</ul>