<ul>
<li>Kaiser Chiefs - Never Miss A Beat</li>
<li>Kaiser Chiefs - Ruby v1</li>
<li>Kaiser Chiefs - Ruby v2</li>
<li>Kane - Something To Say (Acoustic Version)</li>
<li>Kansas - Carry On Wayward Son</li>
<li>Kansas - Point of no return</li>
<li>Kanye West - Stronger</li>
<li>Kanye West - Touch The Sky</li>
<li>Kaoma - Lambada (with cabasa)</li>
<li>Kaoma - Lambada</li>
<li>Kataklysm - Determined (Vows of Vengeance)</li>
<li>Katrina and The Waves - Walking on Sunshine</li>
<li>Katy Perry - California Girls</li>
<li>Katy Perry - Dark Horse</li>
<li>Katy Perry - E T</li>
<li>Katy Perry - Firework</li>
<li>Katy Perry - I kissed a girl</li>
<li>Katy Perry - Part of Me</li>
<li>Katy Perry - Roar</li>
<li>KC & The Sunshine Band - Get Down Tonight</li>
<li>KC & The Sunshine Band - That s the Way (I Like It)</li>
<li>Ke$ha - Animal</li>
<li>Ke$ha - Die Young</li>
<li>Ke$ha - Stephen</li>
<li>Ke$ha - Supernatural</li>
<li>Ke$ha - Take It Off</li>
<li>Ke$ha - Tik Tok</li>
<li>Keane - Somewhere Only We Know</li>
<li>Keith Urban - I Told You So</li>
<li>Keith Urban - Kiss a Girl</li>
<li>Kelly Clarkson - Because Of You</li>
<li>Kelly Clarkson - Miss Independent</li>
<li>Kelly Clarkson - My Life Would Suck Without You</li>
<li>Kelly Clarkson - Since U Been Gone</li>
<li>Kelly Clarkson - Stronger</li>
<li>Kenny Chesney - She Thinks My Tractor's Sexy</li>
<li>Kenny Loggins - Footloose</li>
<li>Kenny Rogers - The Gambler</li>
<li>Kent - Vinter Noll 2</li>
<li>Keri Hilson ft. Kanye West & Ne Yo - Knock You Down</li>
<li>Killswitch Engage - My Curse</li>
<li>Killswitch Engage - Rose of Sharyn</li>
<li>Killswitch Engage - The End Of Heartache</li>
<li>Kings Of Leon - Sex On Fire</li>
<li>Kings X - Over My Head</li>
<li>Kiss - Calling Dr. Love</li>
<li>Kiss - Delilah</li>
<li>Kiss - Detroit Rock City</li>
<li>Kiss - God Gave Rock ’n’ Roll To You</li>
<li>Kiss - I Was Made For Lovin You</li>
<li>Kiss - Lick It Up</li>
<li>Kiss - Love Gun</li>
<li>Kiss - Modern Day Delilah</li>
<li>Kiss - Parasite lady</li>
<li>Kiss - Rock and Roll All Nite</li>
<li>Kiss - Shout It Out Loud</li>
<li>KMFDM - Juke Joint Jezebel</li>
<li>Kool & The Gang - Jungle Boogie</li>
<li>Korn - 10 or a 2 Way</li>
<li>Korn - Appears</li>
<li>Korn - Bleeding Out</li>
<li>Korn - Burn the Obedient</li>
<li>Korn - Chaos Lives in Everything</li>
<li>Korn - Coming Undone</li>
<li>Korn - Eaten Up Inside</li>
<li>Korn - Falling Away from Me</li>
<li>Korn - For No One</li>
<li>Korn - Freak on a Leash</li>
<li>Korn - Fuels the Comedy</li>
<li>Korn - Get Up Featuring Skrillex</li>
<li>Korn - Gettin Off</li>
<li>Korn - Hypocrite</li>
<li>Korn - Illuminati</li>
<li>Korn - Inside Out</li>
<li>Korn - Its Me Again</li>
<li>Korn - Kidnap the Sandy Claws</li>
<li>Korn - Kill Mercy Within</li>
<li>Korn - Last Legal Drug</li>
<li>Korn - Let's Go</li>
<li>Korn - Liar</li>
<li>Korn - Love Song</li>
<li>Korn - My Wall</li>
<li>Korn - Open Up</li>
<li>Korn - Politics</li>
<li>Korn - Sanctuary</li>
<li>Korn - Seen It All</li>
<li>Korn - Souvenir</li>
<li>Korn - Tearjerker</li>
<li>Korn - Tension</li>
<li>Korn - Throw Me Away</li>
<li>Korn - Too Late Im Dead</li>
<li>Korn - Twisted Transitor</li>
<li>Korn - Way Too Far</li>
<li>Korn - Word Up!</li>
<li>Korn ft Skrillex and Kill The Noise - Narcissistic Cannibal</li>
<li>KT Tunstall - Black Horse and the Cherry Tree</li>
<li>KT Tunstall - Suddenly I See</li>
<li>Kula Shaker - Hush</li>
<li>Kutless - The Feeling</li>
<li>Kylie Minogue - All The Lovers</li>
<li>Kylie Minogue - Breathe</li>
<li>Kyuss - Demon Cleaner</li>
</ul>