<ul>
<li>L7 - Pretend We're Dead</li>
<li>Lacuna Coil - Our Truth</li>
<li>Lady Antebellum - Need You Now</li>
<li>Lady Gaga - Alejandro</li>
<li>Lady Gaga - Bad Romance</li>
<li>Lady Gaga - Born this way</li>
<li>Lady Gaga - Love Game</li>
<li>Lady Gaga - Monster</li>
<li>Lady Gaga - Paparazzi</li>
<li>Lady Gaga - Poker Face</li>
<li>Lady Gaga (Feat. Colby O'Donis) - Just Dance</li>
<li>Lamb of god - Again We Will Rise</li>
<li>Lamb of god - Beating On Death's Door</li>
<li>Lamb of god - Blackened The Cursed Sun</li>
<li>Lamb of god - Descending</li>
<li>Lamb of god - Foot To The Throat</li>
<li>Lamb of god - Forgotten (Lost Angels)</li>
<li>Lamb of god - Laid To Rest</li>
<li>Lamb of god - More Time To Kill</li>
<li>Lamb of god - Pathetic</li>
<li>Lamb of god - Redneck</li>
<li>Lamb of god - Requiem</li>
<li>Lamb of god - Walk With Me In Hell</li>
<li>Laura Vane & The Vipertones - 110%</li>
<li>Led Zeppelin -  What Is And What Should Never Be</li>
<li>Led Zeppelin -  Whola lotta love (cover with metronom)</li>
<li>Led Zeppelin -  Whola lotta love</li>
<li>Led Zeppelin - Achilles Last Stand (no vocals cover with metronom)</li>
<li>Led Zeppelin - All My Love (no vocals cover with metronom)</li>
<li>Led Zeppelin - Black Dog (cover with metronom)</li>
<li>Led Zeppelin - Black Dog (cover)</li>
<li>Led Zeppelin - Black Dog (no vocals cover with metronom)</li>
<li>Led Zeppelin - Communication breakdown (no vocals cover with metronom)</li>
<li>Led Zeppelin - Dazed & confused (no vocals cover with metronom)</li>
<li>Led Zeppelin - Dyer Maker (no vocals cover)</li>
<li>Led Zeppelin - Good Times Bad Times (Cover)</li>
<li>Led Zeppelin - Heartbreaker (cover no vocals with metronom)</li>
<li>Led Zeppelin - Heartbreaker</li>
<li>Led Zeppelin - How Many More Times (cover with metronom)</li>
<li>Led Zeppelin - Immigrant song (no vocals cover with metronom)</li>
<li>Led Zeppelin - Kashmir (cover with metronom)</li>
<li>Led Zeppelin - Kashmir (no vocals cover with metronom)</li>
<li>Led Zeppelin - No Quarter (Cover)</li>
<li>Led Zeppelin - Nobody's Foult but Mine (no vocals cover with metronom)</li>
<li>Led Zeppelin - Over the Hills and Far Away (Cover)</li>
<li>Led Zeppelin - Over the Hills and Far Away (no vocals cover with metronom)</li>
<li>Led Zeppelin - Ramble On</li>
<li>Led Zeppelin - Rock n Roll (cover with metronom)</li>
<li>Led Zeppelin - Rock n Roll (no vocals cover with metronom)</li>
<li>Led Zeppelin - Since l've been loving you (no vocals cover with metronom)</li>
<li>Led zeppelin - Stairway to heaven (cover with metronom)</li>
<li>Led Zeppelin - Stairway to Heaven (no vocals cover with metronom)</li>
<li>Led Zeppelin - The ocean (cover with metronom)</li>
<li>Led Zeppelin - The Song Remains the Same (no vocals cover with metronom)</li>
<li>Led Zeppelin - The Wanton Song (cover with metronom)</li>
<li>Led Zeppelin - Trampled Under Foot (no vocals cover with metronom)</li>
<li>Led Zeppelin - When The Levee Breaks (cover with metronom)</li>
<li>Led Zeppelin - Whole lotta love (no vocals cover with metronom)</li>
<li>Lenny Kravitz - Always on the run</li>
<li>Lenny Kravitz - Are You Gonna Go My Way</li>
<li>Lenny Kravitz - Fly Away</li>
<li>Lenny Kravitz - Lady</li>
<li>Lenny Kravitz - Let Love Rule</li>
<li>Lenny Kravitz - Rock And Roll Is Dead</li>
<li>Les Rita Mitsouko - C'est Comme Ca</li>
<li>Les Wampas - Manu Chao</li>
<li>Lesley Roy - I'm Gone, I'm Going</li>
<li>Level 42 - Lessons In Love</li>
<li>Level 42 - Something About You</li>
<li>Libyans - Welcome to the Neighborhood</li>
<li>Lilly Wood The Prick - Middle of the night</li>
<li>Lily - Allen SMILE</li>
<li>Lily Allen - 22</li>
<li>Lily Allen - Back to The Start</li>
<li>Lily Allen - Chinese</li>
<li>Lily Allen - Everyones At It</li>
<li>Lily Allen - Fuck You</li>
<li>Lily Allen - LDN</li>
<li>Lily Allen - Not Fair</li>
<li>Lily Allen - Smile</li>
<li>Lily Allen - Take What You Take</li>
<li>Lily Allen - The Fear</li>
<li>Limp Bizkit - Boiler</li>
<li>Limp Bizkit - Gold Cobra</li>
<li>Limp Bizkit - My way</li>
<li>Limp Bizkit - Nookie</li>
<li>Limp Bizkit - Re Arranged</li>
<li>Linkin Park - A Light That Never Comes (Feat. Steve Aoki)</li>
<li>Linkin Park - Asteroids</li>
<li>Linkin Park - Blackout</li>
<li>Linkin Park - Bleed It Out</li>
<li>Linkin Park - Breaking The Habit</li>
<li>Linkin Park - Bruiser</li>
<li>Linkin Park - Burning In The Skies</li>
<li>Linkin Park - Complimentary</li>
<li>Linkin Park - Crawling</li>
<li>Linkin Park - Enth E Nd</li>
<li>Linkin Park - Given Up</li>
<li>Linkin Park - Guilty All The Same (feat. Rakim)</li>
<li>Linkin Park - In The End</li>
<li>Linkin Park - Lost In The Echo</li>
<li>Linkin Park - New Divide</li>
<li>Linkin Park - Numb</li>
<li>Linkin Park - One Step Closer</li>
<li>Linkin Park - Shadow Of The Day</li>
<li>Linkin Park - Somewhere I Belong</li>
<li>Linkin Park - The Catalyst</li>
<li>Linkin Park - The Messenger</li>
<li>Linkin Park - Waiting For The End</li>
<li>Linkin Park - What I’ve Done</li>
<li>Linkin Park - Wretches and Kings</li>
<li>Lionel Richie - Dancing On The Ceiling</li>
<li>Lisa Gerrard - Now We Are Free</li>
<li>Lit - My Own Worst Enemy</li>
<li>Lita Ford - Kiss Me Deadly</li>
<li>Little Big Town - Tornado</li>
<li>Live - Lightning Crashes</li>
<li>Living Colour - Cult of Personnality</li>
<li>Loquillo Y Los Trogloditas - Cadillac Solitario (Live)</li>
<li>Lorde - Royals</li>
<li>Lordi - Hard Rock Hallelujah</li>
<li>Los Lobos - La Bamba</li>
<li>Lost Prophets - Rooftops</li>
<li>Loverboy - Working for the Weekend</li>
<li>Lucinda Williams - Can't Let Go</li>
<li>Lush - De Luxe</li>
<li>Lynyrd Skynyrd - Call Me The Breeze (Live)</li>
<li>Lynyrd Skynyrd - Free Bird</li>
<li>Lynyrd Skynyrd - Gimme Three Steps</li>
<li>Lynyrd Skynyrd - Simple Man</li>
<li>Lynyrd Skynyrd - Sweet Home Alabama (Live)</li>
<li>Lynyrd Skynyrd - Tuesdays Gone</li>
</ul>