<ul>
<li>M-Clan - Carolina</li>
<li>Machine Head - Aesthetics of Hate</li>
<li>Machine Head - Beautiful Mourning</li>
<li>Macklemore & Ryan Lewis - Downtown (Cover)</li>
<li>Macklemore & Ryan Lewis - Thrift Shop (Cover)</li>
<li>Macy Gray - I Try</li>
<li>Madina Lake - Hey Superstar</li>
<li>Madonna - Beautiful Stanger</li>
<li>Madonna - Borderline</li>
<li>Madonna - Get Together</li>
<li>Madonna - Holiday</li>
<li>Madonna - Hung Up</li>
<li>Madonna - Jump</li>
<li>Madonna - La Isla Bonita</li>
<li>Madonna - Like A Prayer</li>
<li>Madonna - Lucky Star</li>
<li>Madonna - Material Girl</li>
<li>Madonna - Ray of Light</li>
<li>Madonna - Vogue</li>
<li>Magic Man - Heart</li>
<li>Magic! - Rude (Cover)</li>
<li>Mana - Oye Mi Amor</li>
<li>Marcy Playground - Sex and Candy</li>
<li>Marilyn Manson - Antichrist Superstar</li>
<li>Marilyn Manson - Coma White</li>
<li>Marilyn Manson - Disposable Teens</li>
<li>Marilyn Manson - Get Your Gunn</li>
<li>Marilyn Manson - The Beautiful People</li>
<li>Marilyn Manson - The Dope Show</li>
<li>Marilyn Manson - The Nobodies</li>
<li>Marilyn Manson - Tourniquet</li>
<li>Maroon 5 - Harder to Breathe</li>
<li>Maroon 5 - If I Never See Your Face Again</li>
<li>Maroon 5 - Makes Me Wonder</li>
<li>Maroon 5 - Moves Like A Jagger</li>
<li>Maroon 5 - She Will Be Loved</li>
<li>Maroon 5 - Sugar (Cover)</li>
<li>Maroon 5 - This Love</li>
<li>Maroon 5 - This Summers Gonna Hurt</li>
<li>Martina McBride - This One's for the Girls</li>
<li>Marvin Gaye - I Heard It Through the Grapevine</li>
<li>Marvin Gaye - Sexual Healing</li>
<li>Mastodon - Blood And Thunder</li>
<li>Mastodon - Colony of Birchmen</li>
<li>Mastodon - Oblivium</li>
<li>Matchbox 20 - Real World</li>
<li>Mattafix - Big City Life</li>
<li>Maximo Park - Girls Who Play Guitars</li>
<li>MC5's Wayne Kramer - Kick Out the Jams</li>
<li>McFly - Star Girl</li>
<li>Meat Loaf - Paradise By The Dashboard Light</li>
<li>Megadeth - A Tout Le Monde</li>
<li>Megadeth - Addicted to Chaos (cover)</li>
<li>Megadeth - Angry Again (cover)</li>
<li>Megadeth - Bad omen</li>
<li>Megadeth - Black friday</li>
<li>Megadeth - Conjuring</li>
<li>Megadeth - Dawn Patrol</li>
<li>Megadeth - Devils island</li>
<li>Megadeth - Five Magics</li>
<li>Megadeth - Hangar 18 v1</li>
<li>Megadeth - Hanger 18 v2</li>
<li>Megadeth - Holy Wars v1</li>
<li>Megadeth - Holy Wars v2</li>
<li>Megadeth - Lucretia</li>
<li>Megadeth - My last words</li>
<li>Megadeth - Peace cells</li>
<li>Megadeth - Poison Was the Cure</li>
<li>Megadeth - Public Enemy No. 1</li>
<li>Megadeth - Rust in Peace... Polaris</li>
<li>Megadeth - Sleep Walker</li>
<li>Megadeth - Sudden Death</li>
<li>Megadeth - Superstituous</li>
<li>Megadeth - Sweating Bullets</li>
<li>Megadeth - Symphony of Destruction</li>
<li>Megadeth - Take No Prisoners</li>
<li>Megadeth - The Day We Fight</li>
<li>Megadeth - Tornado of Souls</li>
<li>Megadeth - Wake up dead</li>
<li>Meghan Trainor - All About That Bass</li>
<li>Men at Work - Land Down Under v1</li>
<li>Men At Work - Land Down Under v2</li>
<li>Mercyful Fate - Evil</li>
<li>Meshuggah - Bleed</li>
<li>Metallica - Ain't My Bitch (cover)</li>
<li>Metallica - All Nightmare Long</li>
<li>Metallica - Am I Evil</li>
<li>Metallica - And Justice For All</li>
<li>Metallica - Battery</li>
<li>Metallica - Blackened</li>
<li>Metallica - Blitzkrieg (cover)</li>
<li>Metallica - Broken Beat And Scarred</li>
<li>Metallica - Call of Ktulu (cover)</li>
<li>Metallica - Creeping Death</li>
<li>Metallica - Cyanide</li>
<li>Metallica - Disposable Heroes</li>
<li>Metallica - Dyers Eve</li>
<li>Metallica - Enter Sandman</li>
<li>Metallica - Eye of the Beholder (cover)</li>
<li>Metallica - Fade To Black</li>
<li>Metallica - Fight Fire With Fire</li>
<li>Metallica - For Whom The Bell Tolls</li>
<li>Metallica - Frantic</li>
<li>Metallica - Fuel</li>
<li>Metallica - Harvester of Sorrow (cover)</li>
<li>Metallica - Helpless (cover)</li>
<li>Metallica - Hit The Lights</li>
<li>Metallica - I Disappear</li>
<li>Metallica - Jump in the Fire (cover)</li>
<li>Metallica - King Nothing</li>
<li>Metallica - Last Carress & Green Hell (cover)</li>
<li>Metallica - Master Of Puppets</li>
<li>Metallica - Mercyful Fate</li>
<li>Metallica - Motorbreath (cover)</li>
<li>Metallica - My Apocalypse</li>
<li>Metallica - No Leaf Clover</li>
<li>Metallica - Nothing Else  Matters v2</li>
<li>Metallica - Nothing else matters (acoustic)</li>
<li>Metallica - Nothing else matters (live)</li>
<li>Metallica - Nothing Else Matters v1</li>
<li>Metallica - One</li>
<li>Metallica - Orion</li>
<li>Metallica - Ride The Lightning</li>
<li>Metallica - Sad But True</li>
<li>Metallica - Seek And Destroy</li>
<li>Metallica - Suicide And Redemption</li>
<li>Metallica - That Was Just Your Life</li>
<li>Metallica - The Day That Never Comes</li>
<li>Metallica - The End of the Line</li>
<li>Metallica - The Four Horsemen (cover)</li>
<li>Metallica - The Judas Kiss</li>
<li>Metallica - The Memory Remains</li>
<li>Metallica - The Shortest Straw</li>
<li>Metallica - The Small Hours (cover)</li>
<li>Metallica - The Thing That Should Not Be</li>
<li>Metallica - The Unforgiven III</li>
<li>Metallica - The Unforgiven</li>
<li>Metallica - Through The Never (cover)</li>
<li>Metallica - To Live Is to Die (cover)</li>
<li>Metallica - Trapped Under Ice</li>
<li>Metallica - Turn the Page (live)</li>
<li>Metallica - Welcome Home (Sanitarium)</li>
<li>Metallica - Wherever I May Roam</li>
<li>Metallica - Whiplash</li>
<li>Metallica - Whiskey In The Jar (cover)</li>
<li>Metallica Feat. Ozzy Osbourne - Paranoid (Live)</li>
<li>Metric - Blindness</li>
<li>Metric - Collect Call</li>
<li>Metric - Combat Baby</li>
<li>Metric - Front Row</li>
<li>Metric - Gimme Sympathy</li>
<li>Metric - Gold Guns Girls</li>
<li>Metric - Help Im Alive</li>
<li>Metric - Satellite Mind</li>
<li>Metric - Sick Muse</li>
<li>Metric - Stadium Love</li>
<li>Metric - Twilight Galaxy</li>
<li>Mia Kayleigh - Uptown Funk</li>
<li>Michael Jackson - Beat It v1</li>
<li>Michael Jackson - Beat it v2</li>
<li>Michael Jackson - Billie Jean (slapped bass version)</li>
<li>Michael Jackson - Billie Jean copy</li>
<li>Michael Jackson - Billie Jean</li>
<li>Michael Jackson - Black Or White v2</li>
<li>Michael Jackson - Black or White</li>
<li>Michael Jackson - Don t Stop Till You Get Enough</li>
<li>Michael Jackson - Earth Song</li>
<li>Michael Jackson - Love Never Felt So Good (Cover)</li>
<li>Michael Jackson - Man In The Mirror</li>
<li>Michael Jackson - P.Y.T.</li>
<li>Michael Jackson - Rock With You</li>
<li>Michael Jackson - Smooth Criminal (cover)</li>
<li>Michael Jackson - Smooth Criminal</li>
<li>Michael Jackson - The Way You Make Me Feel</li>
<li>Michael Jackson - Thriller v1</li>
<li>Michael Jackson - Thriller v2</li>
<li>Michael Jackson & Janet Jackson - Scream</li>
<li>Michael Schack - All Night</li>
<li>Michael Schenker Group - Armed And Ready</li>
<li>Michael Telo - Ai Se Eu Te Pego</li>
<li>Miley Cyrus - 7 Things</li>
<li>Miranda Cosgrove - Headphones On</li>
<li>Miranda Lambert - Gunpowder And Lead</li>
<li>Misfits - Astro Zombies</li>
<li>Missing Persons - Walking in LA</li>
<li>Mission of Burma - Mica</li>
<li>Mission of Burma - That's How I Escaped My Certain Fate</li>
<li>Mission of Burma - That's When I Reach for My Revolver</li>
<li>Modest Mouse - Float On</li>
<li>Molly Hatchet - Flirtin' with Disaster</li>
<li>Montgomery Gentry - Gone</li>
<li>Moody Blues - Nights In White Satin (Unplugged Version)</li>
<li>Motley Crue - Don't Go Away Mad</li>
<li>Motley Crue - Down At The Whiskey</li>
<li>Motley Crue - Dr Feelgood</li>
<li>Motley Crue - Girls girls girls</li>
<li>Motley Crue - Home Sweet Home</li>
<li>Motley Crue - Kickstart My Heart</li>
<li>Motley Crue - Looks That Kill</li>
<li>Motley Crue - Rattlesnake Shake</li>
<li>Motley Crue - Saints Of Los Angeles</li>
<li>Motley Crue - Same Ol' Situation</li>
<li>Motley Crue - She Goes Down</li>
<li>Motley Crue - Shout At The Devil</li>
<li>Motley Crue - Slice of Your Pie</li>
<li>Motley Crue - Sticky Sweet</li>
<li>Motley Crue - Time For Change</li>
<li>Motley Crue - Too Young to Fall in Love</li>
<li>Motley Crue - Without You</li>
<li>Motorhead - Ace of Spades '08</li>
<li>Motorhead - Iron Fist</li>
<li>Motorhead - Jailbait</li>
<li>Motorhead - Killed by Death '08</li>
<li>Motorhead - Love Me Like a Reptile</li>
<li>Motorhead - Overkill</li>
<li>Motorhead - We Are the Road Crew</li>
<li>Mountain - Mississippi Queen</li>
<li>Mr Big - Daddy, Brother, Lover, Little Boy</li>
<li>Mr Big - To Be With You</li>
<li>Mr Hudson & Kanye West - Supernova</li>
<li>Mudvayne - Happy</li>
<li>Muse -  Bliss</li>
<li>Muse - Assassin</li>
<li>Muse - Dead Inside</li>
<li>Muse - Hyper Music</li>
<li>Muse - Hysteria</li>
<li>Muse - Knights of Cydonia</li>
<li>Muse - Madness</li>
<li>Muse - Mercy</li>
<li>Muse - Muscle Museum</li>
<li>Muse - New Born</li>
<li>Muse - Panic Station</li>
<li>Muse - Plug In Baby</li>
<li>Muse - Psycho</li>
<li>Muse - Reapers</li>
<li>Muse - Stockholm Syndrome</li>
<li>Muse - Sunburn</li>
<li>Muse - Supermassive Black hole</li>
<li>Muse - The Handler</li>
<li>Muse - Time Is Running Out</li>
<li>Muse - Undisclosed Desires</li>
<li>Muse - Uprising</li>
<li>Mute Math - Control</li>
<li>My Chemical Romance - Bulletproof Heart</li>
<li>My Chemical Romance - Helena</li>
<li>My Chemical Romance - I'm Not Okay (I Promise)</li>
<li>My Chemical Romance - Teenagers</li>
<li>My Chemical Romance - Welcome To The Black Parade</li>
<li>My Morning Jacket - One Big Holiday</li>
</ul>