<ul>
<li>Oasis - Aint Got Nothing</li>
<li>Oasis - Bag It Up</li>
<li>Oasis - Don't Look Back In Anger</li>
<li>Oasis - Falling Down</li>
<li>Oasis - Get Off Your High Horse Lady</li>
<li>Oasis - Im Outta Time</li>
<li>Oasis - Live Forever</li>
<li>Oasis - Rock 'N' Roll Star</li>
<li>Oasis - Soldier On</li>
<li>Oasis - Some Might Say</li>
<li>Oasis - The Nature Of Reality</li>
<li>Oasis - The Shock of the Lightning</li>
<li>Oasis - The Turning</li>
<li>Oasis - To Be Where There's Life</li>
<li>Oasis - Waiting for the Rapture</li>
<li>Oasis - Wonderwall</li>
<li>OK Go - A Million Ways</li>
<li>Ok Go - Do What You Want</li>
<li>Ok Go - Get Over It</li>
<li>OK Go - Here It Goes Again</li>
<li>Omi - Cheerleader  Felix Jaehn Remix (Cover)</li>
<li>One Direction - Night Changes</li>
<li>One Republic - All The Right Moves</li>
<li>One Republic - Counting Stars</li>
<li>One Republic - Everybody Loves Me</li>
<li>One Republic - Mercy</li>
<li>One Republic - Stop and Stare</li>
<li>Opiate For The Masses - Burn You Down</li>
<li>Orgy - Blue Monday</li>
<li>Orianthi - Suffocated</li>
<li>Outkast - Hey Ya</li>
<li>Owl City - Fireflies</li>
<li>Ozzy Osbourne - Crazy Train</li>
<li>Ozzy Osbourne - Diary of a Madman</li>
<li>Ozzy Osbourne - Dreamer</li>
<li>Ozzy Osbourne - Flying High Again</li>
<li>Ozzy Osbourne - I Don't Know</li>
<li>Ozzy Osbourne - I Dont Wanna Stop</li>
<li>Ozzy Osbourne - Let Me Hear You Scream</li>
<li>Ozzy Osbourne - Mama, I'm Coming Home</li>
<li>Ozzy Osbourne - Mr. Crowley</li>
<li>Ozzy Osbourne - No More Tears</li>
<li>Ozzy Osbourne - Over the Mountain</li>
<li>Ozzy Osbourne - Steal Away (The Night)</li>
<li>Ozzy Ozbourne - Bark At The Moon</li>
</ul>