<ul>
<li>Pain - Three Days Grace</li>
<li>Paloma Faith - Only Love Can Hurt Like This</li>
<li>Panic At the Disco - Nine in the Afternoon</li>
<li>Panic At the Disco - She’s a Handsome Woman</li>
<li>Pantera - 5 Minutes Alone v1</li>
<li>Pantera - 5 Minutes Alone v2</li>
<li>Pantera - 10's</li>
<li>Pantera - 13 Steps to Knowhere</li>
<li>Pantera - A New Level</li>
<li>Pantera - Cemetery Gates v1</li>
<li>Pantera - Cemetery Gates v2</li>
<li>Pantera - Cowboys From Hell (live)</li>
<li>Pantera - Drag the Waters</li>
<li>Pantera - Floods</li>
<li>Pantera - Fukng Hostile</li>
<li>Pantera - Hellbound</li>
<li>Pantera - I'm Broken v1</li>
<li>Pantera - I'm Broken v2</li>
<li>Pantera - Living Through Me</li>
<li>Pantera - Mouth for War v1</li>
<li>Pantera - Mouth For War v2</li>
<li>Pantera - No Good</li>
<li>Pantera - Rise</li>
<li>Pantera - Sandblasted Skin</li>
<li>Pantera - Steps to Nowhere</li>
<li>Pantera - Suicide Note Pt. II</li>
<li>Pantera - The Great Southern Trendkill</li>
<li>Pantera - The Underground in America</li>
<li>Pantera - This Love (with cabasa version)</li>
<li>Pantera - This Love</li>
<li>Pantera - Walk v1</li>
<li>Pantera - Walk v2</li>
<li>Pantera - War Nerve</li>
<li>Papa Roach - Last Resort</li>
<li>Papa Roach - Lifeline</li>
<li>Papa Roach - Time Is Running Out</li>
<li>Papa Roach - Tyranny of Normality</li>
<li>Parachute - Back Again</li>
<li>Paralyzer - Finger Eleven</li>
<li>Paramore - Crush crush crush</li>
<li>Paramore - Decode</li>
<li>Paramore - Misery Business</li>
<li>Paramore - Still Into You</li>
<li>Paramore - Thats What You Get</li>
<li>Parliament - Flashlight</li>
<li>Passion pit - Carried Away</li>
<li>Pat Benatar - Fire And Ice</li>
<li>Pat Benatar - Heartbreaker</li>
<li>Pat Benatar - Hit Me with your Best Shot</li>
<li>Pat Benatar - Invincible</li>
<li>Pat Benatar - Love Is a Battlefield</li>
<li>Pat Benatar - Promises In The Dark</li>
<li>Pat Benatar - Shadows Of The Night</li>
<li>Pat Benatar - We Belong</li>
<li>Paul McCartney - Jet (Live)</li>
<li>Pavement - Cut Your Hair</li>
<li>Pearl Jam - Alive</li>
<li>Pearl Jam - Black</li>
<li>Pearl Jam - Deep</li>
<li>Pearl Jam - Even Flow</li>
<li>Pearl Jam - Garden</li>
<li>Pearl Jam - Jeremy</li>
<li>Pearl Jam - Master Slave</li>
<li>Pearl Jam - Oceans</li>
<li>Pearl Jam - Once</li>
<li>Pearl Jam - Porch</li>
<li>Pearl Jam - Release</li>
<li>Pearl Jam - Why</li>
<li>Pepper - Your Face</li>
<li>Periphery - Buttersnips</li>
<li>Periphery - Icarus Lives</li>
<li>Pet Shop Boys - Minimal</li>
<li>Peter Cetera - Glory of Love</li>
<li>Peter Fernandes - Dorothy</li>
<li>Peter Frampton - Do You Feel Like We Do</li>
<li>Peter Frampton - Show Me the Way (Live)</li>
<li>Peter Gabriel - In Your Eyes</li>
<li>Peter Gabriel - Sledgehammer</li>
<li>Peter White - Hit The Road Jack</li>
<li>Pharrell Williams - Happy</li>
<li>Phil Collins - Easy Lover</li>
<li>Phil Collins - In the Air Tonight (Cover)</li>
<li>Phil Collins - No reply at all</li>
<li>Phish - Chalk Dust Torture (Live)</li>
<li>Phish - Down With Disease (Live)</li>
<li>Phish - Llama</li>
<li>Phish - Sample In A Jar (Live)</li>
<li>Phoenix - 1901</li>
<li>Phoenix - Everything Is Everything</li>
<li>Phoenix - Lasso</li>
<li>Phoenix - Lisztomania</li>
<li>Pigeonhed - Glory bound</li>
<li>Pink - Blow Me One Last Kiss</li>
<li>Pink - Funhouse</li>
<li>Pink - Lets Get This Party Started</li>
<li>Pink - So What</li>
<li>Pink - True Love</li>
<li>Pink - Try</li>
<li>Pink Floyd - Another Brick In The Wall (cover v1)</li>
<li>Pink Floyd - Another Brick In The Wall Part 2 (cover)</li>
<li>Pink Floyd - Another Brink in The Wall (cover v2)</li>
<li>Pink Floyd - Comfortably Numb (cover) copy</li>
<li>Pink Floyd - Comfortably Numb (Cover)</li>
<li>Pink Floyd - Dogs (Cover)</li>
<li>Pink Floyd - Have a Cigar (cover no vocals with metronom)</li>
<li>Pink Floyd - Money (cover no vocals with metronom)</li>
<li>Pink Floyd - Money (cover with metronom)</li>
<li>Pink Floyd - Money (cover)</li>
<li>Pink Floyd - See Emily Play (cover no vocals with metronom)</li>
<li>Pink Floyd - Take in back (cover)</li>
<li>Pink Floyd - The Fletcher Memorial Home (cover with metronom)</li>
<li>Pink Floyd - Time (cover with metronom)</li>
<li>Pink Floyd - Time (cover)</li>
<li>Pink Floyd - Wish you were here (cover)</li>
<li>Pink Floyd - Young Lust (cover no vocals with metronom)</li>
<li>Pistol Annies - Hell On Heels</li>
<li>Pitbull - Feel This Moment (Cover)</li>
<li>Pitbull - We Are One (Ole Ola)</li>
<li>Pitchshifter - We know</li>
<li>Pixies - Debaser</li>
<li>Pixies - Here Comes Your Man</li>
<li>Pixies - Monkey Gone To Heaven</li>
<li>Pixies - The Sad Punk</li>
<li>Pixies - Wave of Mutilation</li>
<li>Placebo - The Bitter End</li>
<li>Plain White T’s - Natural Disaster</li>
<li>Platero y Tu - Hay Poco Rock N Roll</li>
<li>Pleymo - New Wave</li>
<li>POD - Alive</li>
<li>POD - Boom</li>
<li>POD - Set it off</li>
<li>POD - Southtown</li>
<li>POD - Youth of the Nation</li>
<li>Poison - Every Rose Has Its Thorn</li>
<li>Poison - Nothin’ But A Good Time</li>
<li>Poison - Talk Dirty To Me</li>
<li>Poison - Unskinny Bop</li>
<li>Poni Hoax - Antibodies</li>
<li>Porcupine Tree - Fear Of A Blank Planet</li>
<li>Presidents of the USA - Lump</li>
<li>Pretty Girls Make Graves - Something Bigger, Something Brighter</li>
<li>Priestess - Lay Down</li>
<li>Primus - Jerry Was a Race Car Driver</li>
<li>Prodigy - Omen</li>
<li>Protest The Hero - Bloodmeat</li>
<li>PSY - Gangnam Style</li>
<li>Public Enemy - Bring the Noise</li>
<li>Puddle Of Mudd - Blurry</li>
<li>Puddle of Mudd - Psycho</li>
<li>Puddle Of Mudd - She Fuckn Hates Me</li>
<li>Puya - Ride</li>
</ul>