<ul>
<li>R E M - Everybody hurts</li>
<li>R E M - Horse to Water</li>
<li>R E M - Losing My Religion v1</li>
<li>R E M - Losing My Religion v2</li>
<li>R E M - Man Sized Wreath</li>
<li>R E M - Orange Crush</li>
<li>R E M - Supernatural Superserious</li>
<li>R E M - The One I Love</li>
<li>R E M - What's the Frequency Kenneth</li>
<li>Radio Futura - Escuela de Calor</li>
<li>Radiohead - Creep</li>
<li>Radiohead - Fake Plastic Trees</li>
<li>Radiohead - High And Dry</li>
<li>Radiohead - Karma Police</li>
<li>Radiohead - My Iron Lung</li>
<li>Radiohead - Nude</li>
<li>Radiohead - Reckoner</li>
<li>Rage Against The Machine - Bombtrack</li>
<li>Rage Against the Machine - Born Of A Broken Man (cover)</li>
<li>Rage Against the Machine - Bullet in the Head (cover)</li>
<li>Rage Against The Machine - Bulls on Parade</li>
<li>Rage Against The Machine - Guerrilla Radio</li>
<li>Rage Against The Machine - Killing In The Name</li>
<li>Rage Against The Machine - Sleep Now in the Fire</li>
<li>Rage Against The Machine - Take the power back</li>
<li>Rage Against The Machine - Testify</li>
<li>Rainbowdragoneyes - Thrashbaath</li>
<li>Ram Jam - Black Betty</li>
<li>Rammstein - Du Hast</li>
<li>Rammstein - Feuer Und Wasser (cover no vocals)</li>
<li>Rammstein - Keine Lust (cover no vocals)</li>
<li>Rammstein - Ohne Dich (cover)</li>
<li>Rammstein - Rammlied</li>
<li>Rammstein - Rein Raus (cover no vocals)</li>
<li>Rammstein - Sonne (cover)</li>
<li>Rammstein - Waidmanns Heil</li>
<li>Ramones  - Teenage Lobotomy</li>
<li>Ramones - Blitzkrieg Bop</li>
<li>Ramones - I Wanna Be Sedated</li>
<li>Ramones - Pet Sematary</li>
<li>Ramones - Rockaway Beach</li>
<li>Ramones - Theme From Spiderman</li>
<li>Rancid - Ruby Soho</li>
<li>Rascal Flatts - Life Is a Highway</li>
<li>Rascal Flatts - Me And My Gang</li>
<li>Rasmus - In The Shadows</li>
<li>Ratt - Round and Round</li>
<li>Ray Charles - Hit the Road, Jack</li>
<li>Ray Parker Jr. - Ghostbusters</li>
<li>Razorlight - Stumble and Fall</li>
<li>Red Hot Chili Peppers - Apache Rose Peacock</li>
<li>Red Hot Chili Peppers - Around the world (cover)</li>
<li>Red Hot Chili Peppers - Blood Sugar Sex Magic</li>
<li>Red Hot Chili Peppers - Breaking the Girl</li>
<li>Red Hot Chili Peppers - By The Way v1</li>
<li>Red Hot Chili Peppers - By The Way v2</li>
<li>Red Hot Chili Peppers - Californication</li>
<li>Red Hot Chili Peppers - Can't Stop</li>
<li>Red Hot Chili Peppers - Dani California</li>
<li>Red Hot Chili Peppers - Funky Monks</li>
<li>Red Hot Chili Peppers - Give it Away</li>
<li>Red Hot Chili Peppers - I Could Have Lied</li>
<li>Red Hot Chili Peppers - If You Have to Ask</li>
<li>Red Hot Chili Peppers - Look Around</li>
<li>Red Hot Chili Peppers - Mellowsip Slinky in B Major</li>
<li>Red Hot Chili Peppers - Monarchy of Roses</li>
<li>Red Hot Chili Peppers - My Lovely Man</li>
<li>Red Hot Chili Peppers - Naked in the Rain</li>
<li>Red Hot Chili Peppers - Otherside</li>
<li>Red Hot Chili Peppers - Parallel Universe</li>
<li>Red Hot Chili Peppers - Scar Tissue</li>
<li>Red Hot Chili Peppers - Sir Psycho Sexy</li>
<li>Red Hot Chili Peppers - Snow</li>
<li>Red Hot Chili Peppers - Suck My Kiss</li>
<li>Red Hot Chili Peppers - Tell Me Baby</li>
<li>Red Hot Chili Peppers - The Adventures of Rain Dance Maggie</li>
<li>Red Hot Chili Peppers - The Greeting Song</li>
<li>Red Hot Chili Peppers - The Righteous and the Wicked</li>
<li>Red Hot Chili Peppers - The Tower of Equality</li>
<li>Red Hot Chili Peppers - They're Red Hot</li>
<li>Red Hot Chili Peppers - Under the Bridge</li>
<li>Red Rider - Lunatic Fringe</li>
<li>REO Speedwagon - Cant Fight This Feeling</li>
<li>REO Speedwagon - Keep On Loving You</li>
<li>REO Speedwagon - Take it on the run</li>
<li>Rev Theory - Light It Up</li>
<li>Reverend Horton Heat - Psychobilly Freakout</li>
<li>Richard Fortus - The James Bond Theme</li>
<li>Richard Marx - Satisfied</li>
<li>Richard Marx - Should ve Known Better</li>
<li>Rick Astley - Never Gonna Give You Up</li>
<li>Rick Springfield - Dont Talk to Strangers</li>
<li>Rick Springfield - Jessie's Girl</li>
<li>Rihanna - Four Five Seconds (Cover)</li>
<li>Rihanna - Shut Up And Drive</li>
<li>Rihanna - Te Amo</li>
<li>Rihanna - Umbrella</li>
<li>Rihanna - We Found Love (Cover)</li>
<li>Rihanna – S&M (VHQ Remix Stems)</li>
<li>Rilo Kiley - Portions for Foxes</li>
<li>Rise Against - Audience of One</li>
<li>Rise Against - Death Blossoms</li>
<li>Rise Against - Give It All</li>
<li>Rise Against - Re-Education (Through Labor)</li>
<li>Rise Against - Ready To Fall</li>
<li>Rise Against - Savior</li>
<li>Riverboat Gamblers - Don't Bury Me I'm Still Not Dead</li>
<li>Rizzle Kicks - Down with the trumpets</li>
<li>Robbie Williams - Advertising Space</li>
<li>Robbie Williams - Angels</li>
<li>Robbie Williams - Feel</li>
<li>Robbie Williams and Kylie Minogue - Kids</li>
<li>Robert Miles - Children</li>
<li>Robert Palmer - Bad Case of Loving You</li>
<li>Robin Thicke - Blurred Lines</li>
<li>Robin Thicke - Magic</li>
<li>Rocky Horror Show - Hot Pootatie</li>
<li>Rocky Horror Show - Sweet Transvestite</li>
<li>Rocky Horror Show - Time Warp</li>
<li>Rod Morgenstein - Playalong 1</li>
<li>Rollinsband - Stop look and listen</li>
<li>Rose Hill Drive - Sneak Out</li>
<li>Roxette - It Must Have Been Love</li>
<li>Roxette - Sleeping in my car</li>
<li>Roxette - Spending My Time</li>
<li>Roxette - The Look</li>
<li>Roy Orbison - Oh, Pretty Woman</li>
<li>Run DMC - King of Rock</li>
<li>Rush - 2112 Pt1 Overture</li>
<li>Rush - 2112 Pt2 The Temples Of Syrinx</li>
<li>Rush - 2112 Pt3 Discovery</li>
<li>Rush - 2112 Pt4 Presentation</li>
<li>Rush - 2112 Pt5 Oracle The Dream</li>
<li>Rush - 2112 Pt6 Soliloquy</li>
<li>Rush - 2112 Pt7 Grand Finale</li>
<li>Rush - Closer to the Heart</li>
<li>Rush - Fly By Night</li>
<li>Rush - Headlong Flight</li>
<li>Rush - La Villa Strangiato</li>
<li>Rush - Limelight v1</li>
<li>Rush - Limelight v2</li>
<li>Rush - Passage to Bangkok</li>
<li>Rush - Red Barchetta</li>
<li>Rush - Subdivisions</li>
<li>Rush - The Camera Eye</li>
<li>Rush - The Spirit Of Radio</li>
<li>Rush - The Trees</li>
<li>Rush - Tom Sawyer v1</li>
<li>Rush - Tom Sawyer v2</li>
<li>Rush - Tom Sawyer v3</li>
<li>Rush - Vital Signs</li>
<li>Rush - Witch Hunt</li>
<li>Rush - YYZ (cover)</li>
<li>Rush - YYZ</li>
<li>RX Bandits - Bled To Be Free (The Operation)</li>
<li>RX Bandits - It's Only Another Parsec</li>
<li>Ryan Adams - Wonderwall</li>
</ul>