<ul>
<li><li>S.U.P.R.A.H.U.M.A.N. - ProtoShredanoid</li></li>
<li><li>Sade - Smooth Operator (cover)</li></li>
<li><li>Saliva - Always</li></li>
<li><li>Saliva - Click Click Boom</li></li>
<li><li>Sam Hunt - Take your time</li></li>
<li><li>Samhain - Mother of Mercy</li></li>
<li><li>Santana - Black Magic Woman v1</li></li>
<li><li>Santana - Black Magic Woman v2</li></li>
<li><li>Santana - No One To Depend On</li></li>
<li><li>Santana Feat. Michelle Branch - Game of Love</li></li>
<li><li>Santana Feat. Rob Thomas - Smooth</li></li>
<li><li>Santigold - L.E.S. Artistes</li></li>
<li><li>Sara Evans - Suds in the Bucket</li></li>
<li><li>Saving Abel - Addicted</li></li>
<li><li>Scale the Summit - The Great Plains</li></li>
<li><li>Scars On Broadway - They Say</li></li>
<li><li>Scatman John - Scatman</li></li>
<li><li>Scorpions - Always somewhere (cover instrumental)</li></li>
<li><li>Scorpions - No One Like You</li></li>
<li><li>Scorpions - Rock You Like A Hurricane</li></li>
<li><li>Scorpions - Wind Of Change (cover instrumental)</li></li>
<li><li>Scott McKeon - Broken Man</li></li>
<li><li>Screaming Trees - Nearly Lost You</li></li>
<li><li>Seal - Crazy (Acoustic)</li></li>
<li><li>Seal - Kiss From A Rose (Acoustic)</li></li>
<li><li>Seal - Love's Divine (Acoustic)</li></li>
<li><li>Seal - Waiting For You (Acoustic)</li></li>
<li><li>Sean Kingston - Fire Burning</li></li>
<li><li>Selena Gomez & the Scene - Falling Down</li></li>
<li><li>Semi Precious Weapons - Magnetic Baby</li></li>
<li><li>Senses Fail - The Martyr</li></li>
<li><li>Sepultura - Roots (cover)</li></li>
<li><li>Sepultura - War for Territory (cover)</li></li>
<li><li>Serj tankian - Beethoven's c</li></li>
<li><li>Sex Pistols - Anarchy in the UK (cover)</li></li>
<li><li>Sex Pistols - Anarchy In The UK (no vocals live)</li></li>
<li><li>Sex Pistols - God Save the Queen (cover)</li></li>
<li><li>Sex Pistols - Pretty Vacant</li></li>
<li><li>Sex Pistols - Problem (no vocals live)</li></li>
<li><li>Shadow Falls - Still I Rise</li></li>
<li><li>Shaimus - Like A Fool</li></li>
<li><li>Shaka Ponk - Let s Bang</li></li>
<li><li>Shakira - Rabiosa</li></li>
<li><li>Shakira - Whenever</li></li>
<li><li>Shania Twain - Any Man of Mine</li></li>
<li><li>Shinedown - Devour</li></li>
<li><li>Shinedown - Diamond Eyes</li></li>
<li><li>Shinedown - Second Chance</li></li>
<li><li>Shinedown - Sound Of Madness</li></li>
<li><li>Sia - Breathe Me</li></li>
<li><li>Sia - Chandelier (Cover)</li></li>
<li><li>Sia - Elastic Heart Silverchair - Tomorrow</li></li>
<li><li>Silverstein - I Am The Arsonist</li></li>
<li><li>Silversun Pickups - It's Nice To Know You Work Alone</li></li>
<li><li>Silversun Pickups - Lazy Eye</li></li>
<li><li>Silversun Pickups - Panic Switch</li></li>
<li><li>Silversun Pickups - There's No Secrets This Year</li></li>
<li><li>Silversun Pickups - Well Thought Out Twinkles</li></li>
<li><li>Simon & Garfunkel - Sound Of Silence</li></li>
<li><li>Simply Red - Stars</li></li>
<li><li>Sinead O'Connor - Nothin' Compares 2 U</li></li>
<li><li>Sixpence None The Richer - Kiss Me</li></li>
<li><li>Sixx A.M. - Life is Beautiful</li></li>
<li><li>Skid Row - Youth Gone Wild</li></li>
<li><li>Skillet - Monster</li></li>
<li><li>Skindred - Stand For Somethings</li></li>
<li><li>Slash - Nothing To Say</li></li>
<li><li>Slash - Watch This</li></li>
<li><li>Slash - Were All Gonna Die</li></li>
<li><li>Slash Feat Ian Astbury And Izzy Stradlin - Ghost</li></li>
<li><li>Slayer - Black Magic</li></li>
<li><li>Slayer - Chemical Warfare</li></li>
<li><li>Slayer - Dead Skin Mask (cover)</li></li>
<li><li>Slayer - Mandatory Suicide (cover)</li></li>
<li><li>Slayer - Raining Blood</li></li>
<li><li>Slayer - Seasons in the Abyss</li></li>
<li><li>Slayer - South of heaven</li></li>
<li><li>Slayer - War Ensemble</li></li>
<li><li>Sleeping with sirens - IIJDYAH</li></li>
<li><li>Slightly Stoopid - Jimi</li></li>
<li><li>Slipknot - Before I Forget</li></li>
<li><li>Slipknot - Duality</li></li>
<li><li>Slipknot - Left Behind</li></li>
<li><li>Slipknot - Psychosocial</li></li>
<li><li>Slipknot - Pulse of the Maggots</li></li>
<li><li>Slipknot - Snuff</li></li>
<li><li>Slipknot - Sulphur</li></li>
<li><li>Slipknot - Wait and Bleed</li></li>
<li><li>Smash Mouth - All star</li></li>
<li><li>Smash Mouth - Walkin' On The Sun</li></li>
<li><li>Smashing Pumpkins - 1979</li></li>
<li><li>Smashing Pumpkins - Bullet With Butterfly Wings</li></li>
<li><li>Smashing Pumpkins - Cherub rock</li></li>
<li><li>Smashing Pumpkins - G.L.O.W</li></li>
<li><li>Smashing Pumpkins - Siva</li></li>
<li><li>Smashing Pumpkins - The Everlasting Gaze</li></li>
<li><li>Smashing Pumpkins - Today</li></li>
<li><li>Smashing Pumpkins - Zero</li></li>
<li><li>Smokie - Livin next door to Alice</li></li>
<li><li>Snoop Dog - Beautful Snoop Dog - Sensual Sudection Snoop Dogg - Drop It Like It's Hot</li></li>
<li><li>Snow Patrol - Chasing Cars</li></li>
<li><li>Snow Patrol - Fallen Empire</li></li>
<li><li>Snow Patrol - Hands Open</li></li>
<li><li>Snow Patrol - Shut your eyes</li></li>
<li><li>Snow Patrol - Take Back the City</li></li>
<li><li>Snow Patrol - Your're All I Have</li></li>
<li><li>Social Distortion - I Was Wrong</li></li>
<li><li>Social Distortion - Mommy's Little Monster</li></li>
<li><li>Social Distortion - Ring Of Fire</li></li>
<li><li>Soil Work - Stabbing the Drama</li></li>
<li><li>Son - Superstition</li></li>
<li><li>Sonic Youth - Incinerate</li></li>
<li><li>Sonic Youth - Teen Age Riot</li></li>
<li><li>Sophie Ellis - Murder On The Dance Floor</li></li>
<li><li>Soul Asylum - Runaway Train</li></li>
<li><li>Soundgarden - Birth Ritua</li></li>
<li><li>Soundgarden - Black Hole Sun</li></li>
<li><li>Soundgarden - Black Rain</li></li>
<li><li>Soundgarden - Blow Up the Outside World</li></li>
<li><li>Soundgarden - Burden in My Hand</li></li>
<li><li>Soundgarden - Fell on Black Days</li></li>
<li><li>Soundgarden - Hands All Ove</li></li>
<li><li>Soundgarden - Hunted Dow</li></li>
<li><li>Soundgarden - Jesus Christ Pose</li></li>
<li><li>Soundgarden - My Wave</li></li>
<li><li>Soundgarden - Outshined</li></li>
<li><li>Soundgarden - Pretty Noose</li></li>
<li><li>Soundgarden - Rusty Cage</li></li>
<li><li>Soundgarden - Spoonman v1</li></li>
<li><li>Soundgarden - Spoonman v2</li></li>
<li><li>Soundgarden - The Day I Tried to Live</li></li>
<li><li>Spacehog - In the Meantime</li></li>
<li><li>Spandau Ballet - True</li></li>
<li><li>Speck - Conventional Lover</li></li>
<li><li>Spice Girls - Wanna Be</li></li>
<li><li>Spin Doctors - Two Princes</li></li>
<li><li>Spinal Tap - Short and Sweet</li></li>
<li><li>Sponge - Plowed</li></li>
<li><li>Spoon - Sister Jack</li></li>
<li><li>Sportfreunde Stiller - 54, 74, 90, 2010</li></li>
<li><li>Squeeze - Cool For Cats</li></li>
<li><li>Squeeze - Tempted</li></li>
<li><li>Staind - It's Been Awhile</li></li>
<li><li>Staind - So Far Away</li></li>
<li><li>Staind - This is it</li></li>
<li><li>Stan Bush - The Touch</li></li>
<li><li>Starship - We Built This City</li></li>
<li><li>Static X - Push It</li></li>
<li><li>Stealers Wheel - Stuck in the middle with you</li></li>
<li><li>Steel Dragon - Stand Up</li></li>
<li><li>Steely Dan - Black Friday</li></li>
<li><li>Steely Dan - Bodhisattva</li></li>
<li><li>Steely Dan - Dirty Work</li></li>
<li><li>Steely Dan - Do It Again</li></li>
<li><li>Steely Dan - Kid Charlemagne</li></li>
<li><li>Steely Dan - Peg</li></li>
<li><li>Stephen and the Colberts - Charlene (I'm Right Behind You)</li></li>
<li><li>Stephen wolf - Born To Be Wild</li></li>
<li><li>Stereophonics - Indian Summer</li></li>
<li><li>Stereophonics - Maybe Tomorrow</li></li>
<li><li>Steve Earle - Satellite Radio</li></li>
<li><li>Steve Harley & Cockney Rebel - Make Me Smile (Come Up and See Me)</li></li>
<li><li>Steve Miller Band - Fly Like an Eagle</li></li>
<li><li>Steve Miller Band - Rock n Me</li></li>
<li><li>Steve Miller Band - Swingtown</li></li>
<li><li>Steve Miller Band - Take the Money and Run</li></li>
<li><li>Steve Miller Band - The Joker</li></li>
<li><li>Steve Ouimette - Dueling Banjos</li></li>
<li><li>Steve Ouimette - God Save the Queen</li></li>
<li><li>Steve Ouimette - Hark The Herald Angels Sing</li></li>
<li><li>Steve Ouimette - Il Canto degli Italiani</li></li>
<li><li>Steve Ouimette - La Marseillaise</li></li>
<li><li>Steve Ouimette - Lied der Deutschen</li></li>
<li><li>Steve Ouimette - The Star Spangled Banner</li></li>
<li><li>Steve Ouimette - Top Gun Anthem</li></li>
<li><li>Steve Smith - Playalong 1</li></li>
<li><li>Stevie Ray Vaughan - Dirty Pool</li></li>
<li><li>Stevie Ray Vaughan - Love Struck Baby</li></li>
<li><li>Stevie Ray Vaughan - Texas Flood</li></li>
<li><li>Stevie Ray Vaughn and Double Trouble - Love Struck Baby</li></li>
<li><li>Stevie Wonder - Higher Ground</li></li>
<li><li>Stevie Wonder - I Wish</li></li>
<li><li>Stevie Wonder - Isn't She Lovely</li></li>
<li><li>Stevie Wonder - Living For The City</li></li>
<li><li>Stevie Wonder - Pastime Paradise</li></li>
<li><li>Stevie Wonder - Sir Duke</li></li>
<li><li>Stevie Wonder - Superstition</li></li>
<li><li>Sting - Demolition Man (Live)</li></li>
<li><li>Sting - Desert Rose</li></li>
<li><li>Sting - Englishman in New York (cover instrumental)</li></li>
<li><li>Sting - Every breath you take</li></li>
<li><li>Stivie Nicks - Edge of Seventeen Stone Sour - Made of Scars</li></li>
<li><li>Stone Sour - Say You ll Haunt Me</li></li>
<li><li>Stone Sour - Through Glass</li></li>
<li><li>Stone Temple Pilots - Between The Lines</li></li>
<li><li>Stone Temple Pilots - Interstate Love Song</li></li>
<li><li>Stone Temple Pilots - Plush</li></li>
<li><li>Stone Temple Pilots - Sex Type Thing</li></li>
<li><li>Stone Temple Pilots - Trippin’ On A Hole In A Paper Heart</li></li>
<li><li>Stone Temple Pilots - Vasoline</li></li>
<li><li>Stratovarius - Black Diamond</li></li>
<li><li>Street Sweeper Social Club - 100 Little Curses</li></li>
<li><li>Street Sweeper Social Club - Fight! Smash! Win!</li></li>
<li><li>Street Sweeper Social Club - Somewhere In The World It's Midnight</li></li>
<li><li>Stromae - Alors On Danse</li></li>
<li><li>Strung Out - Calling</li></li>
<li><li>Stuck in the Sound - Toy Boy</li></li>
<li><li>Styx - Come Sail Away</li></li>
<li><li>Styx - Mr. Roboto</li></li>
<li><li>Styx - Renegade</li></li>
<li><li>Sublime - Santeria</li></li>
<li><li>Sublime - What I Got</li></li>
<li><li>Suicidal Tendencies - War Inside My Head</li></li>
<li><li>Suicide Silence - You Only Live Once</li></li>
<li><li>Sum 41 - Fat lip</li></li>
<li><li>Sum 41 - In Too Deep</li></li>
<li><li>Sum 41 - Motivation</li></li>
<li><li>Sum 41 - Still Waiting</li></li>
<li><li>Sunny Day Real Estate - Seven</li></li>
<li><li>Supergrass - Grace</li></li>
<li><li>Supertramp - Breakfast in America (cover instrumental)</li></li>
<li><li>Supertramp - Give a Little Bit</li></li>
<li><li>Survivor - Eye of the Tiger</li></li>
<li><li>Swedish House Mafia - Don't You Worry Child (Cover)</li></li>
<li><li>Sweet - Ballroom Blitz</li></li>
<li><li>Swingin' Utters - This Bastard's Life</li></li>
<li><li>Sworn - Electro Rock</li></li>
<li><li>System of a Down - Aerials</li></li>
<li><li>System of a Down - B.Y.O.B v1</li></li>
<li><li>System of a Down - B.Y.O.B v2</li></li>
<li><li>System of a Down - Chop Suey!</li></li>
<li><li>System of a Down - Hypnotize</li></li>
<li><li>System Of A Down - Lonely Day (cover)</li></li>
<li><li>System of a Down - Prison song</li></li>
<li><li>System of a Down - Toxicity</li></li>
</ul>