<ul>
<li>T Rex - 20th Century Boy</li>
<li>T Rex - Ride a White Swan</li>
<li>Talking Heads - Burning Down the House</li>
<li>Talking Heads - Once In A Lifetime</li>
<li>Talking Heads - Psycho Killer</li>
<li>Tasmin Archer - Sleeping Satellite (Acoustic Version)</li>
<li>Taylor Swift - Love Story</li>
<li>Taylor Swift - Our Song</li>
<li>Taylor Swift - Picture to Burn</li>
<li>Taylor Swift - Shake It Off (Cover)</li>
<li>Taylor Swift - Style</li>
<li>Taylor Swift - You Belong With Me</li>
<li>Tears for Fears - Everybody Wants to Rule the World (with percussion)</li>
<li>Tears for Fears - Everybody Wants to Rule the World</li>
<li>Tears for Fears - Shout (with percussion)</li>
<li>Tears for Fears - Shout</li>
<li>Ted Nugent - Guitar Battle</li>
<li>Ted Nugent - Stranglehold</li>
<li>Ted Nugent - Ted Nugent Guitar Duele</li>
<li>Tegan and Sara - The Con</li>
<li>Tenacious D - Master Exploder</li>
<li>Tenacious D - Rock Your Socks</li>
<li>Tenacious D - The Metal</li>
<li>Tenacious D - Tribute</li>
<li>Terrorhorse - Packet Flier</li>
<li>Terrorizer - Hordes of Zombies</li>
<li>Terrorizer - Subterfuge</li>
<li>Tesla - Love Song</li>
<li>Tesla - Modern Day Cowboy</li>
<li>Tesseract - Concealing Fate Part Two</li>
<li>Tesseract - Eden</li>
<li>Testament - Electric crown</li>
<li>Testament - Henchmen Ride</li>
<li>Testament - Souls of black</li>
<li>Texas in July - Magnolia</li>
<li>Texas in July - Uncivilized</li>
<li>That Handsome Devil - Rob the Prez O Dent</li>
<li>The 69 eyes - Never say die</li>
<li>The 88 - Sons And Daughters</li>
<li>The Airborne Toxic Event - Gasoline</li>
<li>The Alan Parsons Project - Eye in the Sky</li>
<li>The All American Rejects  - Move Along</li>
<li>The All American Rejects - Dirty Little Secret</li>
<li>The All American Rejects - Gives You Hell</li>
<li>The All American Rejects - Real World</li>
<li>The All American Rejects - Swing, Swing</li>
<li>The Allman Brothers Band - Ramblin' Man</li>
<li>The Answer - Never Too Late</li>
<li>The Automatic - Monster</li>
<li>The Band - The Weight</li>
<li>The Bangles - Eternal Flame</li>
<li>The Bangles - Manic Monday</li>
<li>The Bangles - Walk Like An Egyptian</li>
<li>The Beatles - A Day In The Life </li>
<li>The Beatles - A Hard days Night</li>
<li>The Beatles - All You Need Is Love</li>
<li>The Beatles - And Your Bird Can Sing</li>
<li>The Beatles - Back In The USSR</li>
<li>The Beatles - Because</li>
<li>The Beatles - Being For the Benefit of Mr. Kite</li>
<li>The Beatles - Birthday</li>
<li>The Beatles - Boys</li>
<li>The Beatles - Can't Buy Me Love</li>
<li>The Beatles - Come Together</li>
<li>The Beatles - Day Tripper</li>
<li>The Beatles - Dear Prudence</li>
<li>The Beatles - Dig A Pony</li>
<li>The Beatles - Do You Want To Know A Secret</li>
<li>The Beatles - Don't Let Me Down</li>
<li>The Beatles - Drive My Car</li>
<li>The Beatles - Eight Days A Week</li>
<li>The Beatles - Fixing A Hole</li>
<li>The Beatles - Get Back</li>
<li>The Beatles - Getting Better</li>
<li>The Beatles - Girl</li>
<li>The Beatles - Good Morning Good Morning</li>
<li>The Beatles - Hello Goodbye</li>
<li>The Beatles - Helter Skelter</li>
<li>The Beatles - Here Comes The Sun</li>
<li>The Beatles - Hey Bulldog</li>
<li>The Beatles - I Am The Walrus</li>
<li>The Beatles - I Feel Fine</li>
<li>The Beatles - I Got A Feeling</li>
<li>The Beatles - I Me Mine</li>
<li>The Beatles - I Saw Her Standing There</li>
<li>The Beatles - I Wanna Be Your Man</li>
<li>The Beatles - I Wanna Hold Your Hand</li>
<li>The Beatles - I Want You SSH</li>
<li>The Beatles - I'm Looking Through You</li>
<li>The Beatles - If I Needed Someone</li>
<li>The Beatles - In My Life</li>
<li>The Beatles - Love Me Do</li>
<li>The Beatles - Lovely Rita</li>
<li>The Beatles - Lucy In The Sky With Diamonds</li>
<li>The Beatles - Maxwells Silver Hammer</li>
<li>The Beatles - Michelle</li>
<li>The Beatles - Norwegian Wood</li>
<li>The Beatles - Nowhere Man</li>
<li>The Beatles - Octopuses Garden</li>
<li>The Beatles - Oh Darling</li>
<li>The Beatles - Paperback Writer</li>
<li>The Beatles - Revolution</li>
<li>The Beatles - Run For Your Life</li>
<li>The Beatles - Sgt Peppers Reprise</li>
<li>The Beatles - She's Leaving Home</li>
<li>The Beatles - Something</li>
<li>The Beatles - Taxman</li>
<li>The Beatles - The Word</li>
<li>The Beatles - Think For Yourself</li>
<li>The Beatles - Ticket To Ride</li>
<li>The Beatles - Twist and Shout</li>
<li>The Beatles - Wait</li>
<li>The Beatles - What Goes On</li>
<li>The Beatles - When I'm 64</li>
<li>The Beatles - While My Guitar Gently Weeps</li>
<li>The Beatles - Within You Without You</li>
<li>The Beatles - Yellow Submarine</li>
<li>The Beatles - You Won't See Me</li>
<li>The Black Crowes - Hard To Handle</li>
<li>The Black Dahlia Murder - What a Horrible Night</li>
<li>The Bravery - Believe</li>
<li>The Bronx - False Alarm</li>
<li>The Bronx - Six Days A Week</li>
<li>The Buffalo Joe Band - Our Time</li>
<li>The Byrds - I'll Feel A Whole Lot Better</li>
<li>The Cab - Bounce</li>
<li>The Cab - One of Those Nights</li>
<li>The Cardigans - My Favourite Game</li>
<li>The Cars - Just What I Needed</li>
<li>The Cars - My Best Friends Girl</li>
<li>The Chevelles - Get It On</li>
<li>The Clash - I Fought The Law</li>
<li>The Clash - Rock the Casbah</li>
<li>The Clash - Safe European Home</li>
<li>The Clash - Should I Stay or Should I Go</li>
<li>The Cocktail Slippers - Give It To Me</li>
<li>The Coral - Dreaming of You</li>
<li>The Cranberries - Animal Instinct</li>
<li>The Cranberries - Just My Imagination</li>
<li>The Cranberries - Linger</li>
<li>The Cranberries - Salvation</li>
<li>The Cranberries - Zombie v1</li>
<li>The Cranberries - Zombie v2</li>
<li>The Cult - Love Removal Machine</li>
<li>The Cult - She Sells Sanctuary</li>
<li>The Cure - Boys Don t Cry</li>
<li>The Cure - Fascination Street</li>
<li>The Cure - Just Like Heaven</li>
<li>The Damned Things - We've Got A Situation Here</li>
<li>The Darkest of the Hillside Thickets - Shhh</li>
<li>The Darkness - I Believe In A Thing Called Love v1</li>
<li>The Darkness - I Believe In A Thing Called Love v2</li>
<li>The Derek Trucks Band - Younk Funk</li>
<li>The Devil Wears Prada - Dez Moines</li>
<li>The Devil Wears Prada - HTML Rulez d00d</li>
<li>The Dillinger Escape Plan - Farewell</li>
<li>The Dillinger Escape Plan - Gold Teeth on a Bum</li>
<li>The Dillinger Escape Plan - Parasitic Twins</li>
<li>The Dillinger Escape Plan - Setting Fire To Sleeping Giants</li>
<li>The Dillinger Escape Plan - Widower</li>
<li>The Donnas - New Kid in School</li>
<li>The Donnas - Take It Off</li>
<li>The Doors - Break on through</li>
<li>The Doors - Hello I Love You</li>
<li>The Doors - LA Woman</li>
<li>The Doors - Light My Fire</li>
<li>The Doors - Love Her Madly</li>
<li>The Doors - Love Me Two Times</li>
<li>The Doors - Peace Frog</li>
<li>The Doors - People Are Strange</li>
<li>The Doors - Riders On The Storm</li>
<li>The Doors - Roadhouse Blues</li>
<li>The Doors - Soul Kitchen</li>
<li>The Doors - The Crystal Ship</li>
<li>The Doors - Touch Me</li>
<li>The Duke Spirit - Send A Little Love Token</li>
<li>The Eagles - One Of These Nights (cover)</li>
<li>The Edgar Winter Group - Free Ride</li>
<li>The Enemy - Aggro</li>
<li>The Exies - Hey You</li>
<li>The Expendables - Sacrifice</li>
<li>The Faceless - Xenochrist</li>
<li>The Faces - Stay With Me</li>
<li>The Faint - The Geeks Were Right</li>
<li>The Feeling - Love it when you call</li>
<li>The Flaming Lips - Yoshimi Battles the Pink Robots Pt 1</li>
<li>The Fratellis - Chelsea Dagger</li>
<li>The Fratellis - Creepin Up the Backstairs</li>
<li>The Fratellis - Flathead</li>
<li>The Fratellis - Henrietta</li>
<li>The Go-Go's - Our Lips Are Sealed</li>
<li>The Go-Go's - We Got the Beat</li>
<li>The Guess Who - American Woman</li>
<li>The Guess Who - No time</li>
<li>The Haunted -D.O.A.</li>
<li>The Hives - Die, All Right</li>
<li>The Hives - Main Offender</li>
<li>The Hives - Tick Tick Boom</li>
<li>The Human League - Dont You Want Me</li>
<li>The Killers - All The Pretty Faces</li>
<li>The Killers - Human</li>
<li>The Killers - Jenny Was...</li>
<li>The Killers - Losing Touch</li>
<li>The Killers - Mr Brightside</li>
<li>The Killers - Read My mind</li>
<li>The Killers - Smile Like You Mean It</li>
<li>The Killers - Somebody Told Me</li>
<li>The Killers - Spaceman</li>
<li>The Killers - When You Were Young</li>
<li>The Kinks - You really got me</li>
<li>The Knack - My Sharona</li>
<li>The Kooks - Naive</li>
<li>The Kooks - See The Sun</li>
<li>The Last Goodnight - Pictures of You</li>
<li>The Last Waltz - Further on Up the Road</li>
<li>The Len Price 3 - If I Ain't Got You</li>
<li>The Living End - Prisoner of Society</li>
<li>The Main Drag - A Jagged Gorgeous Winter</li>
<li>The Main Drag - Cease and Desist</li>
<li>The Main Drag - Don't Let Me Down (Slowly)</li>
<li>The Main Drag - How Wed Look on Paper</li>
<li>The Mars Volta - L'Via L'Viaquez</li>
<li>The Meters -  Cissy Strut</li>
<li>The Mighty Mighty Bosstones - The Impression That I Get</li>
<li>The Mighty Mighty Bosstones - Where'd You Go</li>
<li>The Monkees - Last Train To Clarksville</li>
<li>The Mother Hips - Time We Had</li>
<li>The Muffs - Kids in America</li>
<li>The Muffs - Outer Space</li>
<li>The Myriad Burial - Death Quota for Purification</li>
<li>The Naked Brothers Band - Body I Occupy</li>
<li>The Naked Brothers Band - I Don't Want to Go to School</li>
<li>The New No2 - Crazy Tuesday</li>
<li>The New No2 - Yomp</li>
<li>The New Pornographers - Electric Version</li>
<li>The Offspring - All I Want</li>
<li>The Offspring - Come Out And Play</li>
<li>The Offspring - Gone Away</li>
<li>The Offspring - Hammerhead</li>
<li>The Offspring - Hit That</li>
<li>The Offspring - Pretty Fly</li>
<li>The Offspring - Self Esteem</li>
<li>The Offspring - The Kids Aren't Alright</li>
<li>The Offspring - You're Gonna Go Far Kid</li>
<li>The Outlaws - Green Grass and High Tides</li>
<li>The Police - Can't Stand Losing You</li>
<li>The Police - Don't Stand So Close to Me</li>
<li>The Police - Every Breath You Take v1</li>
<li>The Police - Every Breath You Take v2</li>
<li>The Police - Every Little Thing She Does Is Magic</li>
<li>The Police - Message in a bottle</li>
<li>The Police - Next to You</li>
<li>The Police - Roxanne</li>
<li>The Police - So Lonely</li>
<li>The Police - Synchronicity</li>
<li>The Police - Walking on the Moon</li>
<li>The Pretenders - Back On A Chain Gang</li>
<li>The Pretenders - Blue Christmas</li>
<li>The Pretenders - Brass in Pocket</li>
<li>The Pretenders - I will Stand By You</li>
<li>The Primitives - Crash</li>
<li>The Raconteurs - Consoler Of The Lonely</li>
<li>The Raconteurs - Hold Up</li>
<li>The Raconteurs - Salute Your Solution</li>
<li>The Raconteurs - Steady As She Goes</li>
<li>The Raveonettes - Last Dance</li>
<li>The Red Chord - Antman</li>
<li>The Replacements - Alex Chilton</li>
<li>The Rolling Stones  - Gimme Shelter</li>
<li>The Rolling Stones - Honky Tonk Women</li>
<li>The Rolling Stones - I'm Free (Live)</li>
<li>The Rolling Stones - Prodigal Son (Live)</li>
<li>The Rolling Stones - Satisfaction (live)</li>
<li>The Rolling Stones - Stray Cat Blues</li>
<li>The Rolling Stones - Sympathy for the Devil</li>
<li>The Rolling Stones - Under My Thumb</li>
<li>The Rolling Stones - You Gotta Move (Live)</li>
<li>The Ronettes - Be My Baby</li>
<li>The Runaways - Cherry Bomb</li>
<li>The Shins - New Slang</li>
<li>The Sleeping - Bomb The World</li>
<li>The Smiths - Stop Me if You Think You've Heard This One Before</li>
<li>The Sounds - Living in America</li>
<li>The Sterns - Supreme Girl</li>
<li>The Stone Roses - Love Spreads</li>
<li>The Strokes - Reptillia</li>
<li>The Supremes -  Baby Love</li>
<li>The Sword - Black River</li>
<li>The Sword - Freya</li>
<li>The Sword - Maiden, Mother & Crone</li>
<li>The Temptations - My Girl (cover)</li>
<li>The Turtles - Happy Together</li>
<li>The Upper Room - Black and White</li>
<li>The Used - Buried Myself Alive</li>
<li>The Used - Pretty Handsome Awkward</li>
<li>The Used - The Bird and the Worm</li>
<li>The Used - The Taste Of Ink</li>
<li>The Vines - Get Free</li>
<li>The Vines - Outtathaway!</li>
<li>The Weekend - I cant feel my face</li>
<li>The White Stripes - Blue Orchid</li>
<li>The White Stripes - Seven Nation Army</li>
<li>The White Stripes - The Hardest Button to Button</li>
<li>The Who - Behind Blue Eyes</li>
<li>The Who - Eminence front</li>
<li>The Who - I Can See for Miles</li>
<li>The Who - My Generation</li>
<li>The Who - Pinball wizard</li>
<li>The Who - Wont Get Fooled Again</li>
<li>The Zutons - Valerie</li>
<li>Them Crooked Vultures - Dead End Friends</li>
<li>Them Crooked Vultures - Scumbag Blues</li>
<li>Thin Lizzy - Boys are back in town</li>
<li>Thin Lizzy - Cowboy song</li>
<li>Thin Lizzy - Jailbreak</li>
<li>Third Eye Blind - Can You Take Me</li>
<li>Third Eye Blind - Graduate</li>
<li>Third Eye Blind - Losing A Whole Year</li>
<li>Third Eye Blind - Never Let You Go</li>
<li>Third Eye Blind - Semi Charmed Life</li>
<li>This Is Menace - Totality</li>
<li>Three Days Grace - I Hate Everything About You</li>
<li>Three Days Grace - Pain v1</li>
<li>Three Days Grace - Pain v2</li>
<li>Three Days Grace - The Good Life</li>
<li>Thrice - All The World Is Mad</li>
<li>Thrice - Deadbolt</li>
<li>Tickle Me Pink - The Time Is Wrong</li>
<li>Timbaland feat Nelly Furtado & Justin Timberlake - Give it to me</li>
<li>Tina Turner - Simply The Best</li>
<li>Tokio Hotel - Humanoid</li>
<li>Tokio Hotel - Monsoon</li>
<li>Tokio Hotel - Ready, Set, Go!</li>
<li>Tom Petty - Refugee (cover)</li>
<li>Tom Petty & The Heartbreakers - American Girl</li>
<li>Tom Petty & The Heartbreakers - Breakdown (Live)</li>
<li>Tom Petty & The Heartbreakers - Free Fallin'</li>
<li>Tom Petty & The Heartbreakers - I Need to Know</li>
<li>Tom Petty & The Heartbreakers - I Wont Back Down</li>
<li>Tom Petty & The Heartbreakers - Into the great wide open</li>
<li>Tom Petty & The Heartbreakers - Learning to fly</li>
<li>Tom Petty & The Heartbreakers - Listen To Her Heart</li>
<li>Tom Petty & The Heartbreakers - Runnin’ Down A Dream</li>
<li>Tom Petty And The Heartbreakers - Mary Jane's Last Dance</li>
<li>Tom Petty And The Heartbreakers - Runnin' Down A Dream (cover)</li>
<li>Toni Basil - Hey Mickey</li>
<li>Toni Braxton - Unbreak My Heart</li>
<li>Tonic - If You Could Only See</li>
<li>Tony Solis - Guilty Pleasures</li>
<li>Tool - Parabola</li>
<li>Tool - Schism</li>
<li>Tool - Vicarious</li>
<li>Toshio Sakurai - Cosmic cowgirl</li>
<li>Toto - 99</li>
<li>Toto - Africa</li>
<li>Toto - Child s Anthem</li>
<li>Toto - Georgy Porgy</li>
<li>Toto - Hold The Line v1</li>
<li>Toto - Hold The Line v2</li>
<li>Toto - Pamela</li>
<li>Toto - Rosanna</li>
<li>Tov Fuzz - Freestyler</li>
<li>Tov Fuzz - Mission Impossible</li>
<li>Tower of Power - Soul Vaccination</li>
<li>Trace Adkins - Swing</li>
<li>Traditional - Oh Susannah</li>
<li>Train - Hey Soul Sister</li>
<li>Trans Siberian Orchestra - Christmas Jam</li>
<li>Trans Siberian Orchestra - Wizards in Winter</li>
<li>Trapt - Headstrong</li>
<li>Travie Mc Coy ft Bruno Mars - Billionaire</li>
<li>Tribe - Outside</li>
<li>Triumph - Fight the good fight</li>
<li>Triumph - Lay It on the Line</li>
<li>Trivium - In Waves</li>
<li>Trust - Antisocial</li>
<li>Tupac - California Love</li>
<li>TV On The Radio - Wolf Like Me</li>
<li>Twin Atlantic - Free Remix</li>
<li>Twisted Sister - I Wanna Rock</li>
<li>Twisted Sister - We re Not Gonna Take It</li>
<li>Two Door Cinema Club - What You Know</li>
<li>Tyler Bryant - Who I Am</li>
<li>Tyris - Crutch</li>
</ul>