<ul>
<li>U2 - Beautiful Day</li>
<li>U2 - I still haven't Found What I'm Looking For</li>
<li>U2 - New Years Day</li>
<li>U2 - One</li>
<li>U2 - Vertigo</li>
<li>U2 - With or Without You</li>
<li>U2- Sunday bloody sunday</li>
<li>Ugly Kid Joe - Everything About You</li>
<li>Underoath - Desperate Times, Desperate Measures</li>
<li>Unearth - Grave of Opportunity</li>
<li>Unearth - We Are Not Anonymous</li>
<li>Unknown Blues Artist - Dollar in my pocket</li>
<li>Uriah Heep -  Easy Livin</li>
<li>Usher - She Came To Give It To You (Cover)</li>
</ul>