<ul>
<li>Vagiant - Seven</li>
<li>Vampire Weekend - A Punk</li>
<li>Vampire Weekend - Cousins</li>
<li>Vampire Weekend - Holiday</li>
<li>Vampire Weekend - The Kids Don't Stand A Chance</li>
<li>Van Halen - Ain't Talkin' Bout Love</li>
<li>Van Halen - And The Cradle Will Rock</li>
<li>Van Halen - Atomic Punk</li>
<li>Van Halen - Beautiful Girls</li>
<li>Van Halen - Cathedral (Solo Only)</li>
<li>Van Halen - Dance The Night Away</li>
<li>Van Halen - Eruption (Solo)</li>
<li>Van Halen - Everybody Wants Some</li>
<li>Van Halen - Feel Your Love Tonight</li>
<li>Van Halen - Hang 'Em High</li>
<li>Van Halen - Hear About It Later</li>
<li>Van Halen - Hot For Teacher</li>
<li>Van Halen - I'm The One</li>
<li>Van Halen - Ice Cream Man</li>
<li>Van Halen - Intruder, (oh) Pretty Woman</li>
<li>Van Halen - Jamie's Cryin'</li>
<li>Van halen - Jump</li>
<li>Van Halen - Little Guitars</li>
<li>Van Halen - Loss Of Control</li>
<li>Van Halen - Mean Street</li>
<li>Van Halen - Panama</li>
<li>Van Halen - Romeo Delight</li>
<li>Van Halen - Runnin' With The Devil</li>
<li>Van Halen - So This Is Love</li>
<li>Van Halen - Somebody Get Me A Doctor</li>
<li>Van Halen - Spanish Fly (Solo Only)</li>
<li>Van Halen - Unchained</li>
<li>Van Halen - You really got me</li>
<li>Vanessa Carlton - A Thousand Miles</li>
<li>Vanilla Ice - Ice Ice Baby</li>
<li>Vanilla Sky - Break It Out</li>
<li>Veil of Maya - Namaste</li>
<li>Velvet Revolver - Slither</li>
<li>Vesuvius - Promised Land</li>
<li>Vic Firth - Submarine</li>
<li>Vienna Big Band Machine Walter Grassmann - Come With Me</li>
<li>Vienna Big Band Machine Walter Grassmann - Hittin</li>
<li>Vienna Big Band Machine Walter Grassmann - Just Another</li>
<li>Vienna Big Band Machine Walter Grassmann - Kar-Funk-El</li>
<li>Vienna Big Band Machine Walter Grassmann - King of Love</li>
<li>Vienna Big Band Machine Walter Grassmann - Latin Touch</li>
<li>Vienna Big Band Machine Walter Grassmann - One for Cann</li>
<li>Vienna Big Band Machine Walter Grassmann - Rain on E6</li>
<li>Vienna Big Band Machine Walter Grassmann - Say it Straight</li>
<li>Vienna Big Band Machine Walter Grassmann - Some Years Ago</li>
<li>Vienna Big Band Machine Walter Grassmann - Song for my Son</li>
<li>Vienna Big Band Machine Walter Grassmann - Waiting for Love</li>
<li>Vienna Big Band Machine Walter Grassmann - What I Prefer</li>
<li>Village People - YMCA</li>
<li>Violent Femmes - American Music</li>
<li>Violent Femmes - Blister in the sun</li>
<li>Volbeat - A Warriors Call</li>
</ul>