<ul>
<li>Walk the moon - Shut up and Dance</li>
<li>War - Low Rider</li>
<li>Warrant - Cherry Pie</li>
<li>Warren Zevon - Werewolves of London</li>
<li>We Are The Illusion - The Podium</li>
<li>We Butter The Bread With Butter - Superfuhn Bananendate</li>
<li>We The Kings - Check Yes Juliet</li>
<li>Weezer - Beverly Hills</li>
<li>Weezer - Buddy Holly</li>
<li>Weezer - Dope Nose</li>
<li>Weezer - El Scorcho</li>
<li>Weezer - Island in the Sun</li>
<li>Weezer - Pork and Beans</li>
<li>Weezer - Say It Ain't So</li>
<li>Weezer - Why Bother</li>
<li>Whirechapel - This is Exile</li>
<li>White Room - Cream</li>
<li>White Zombie - Black Sunshine</li>
<li>White Zombie - More  Human Than Human</li>
<li>White Zombie - Super Charger Heaven</li>
<li>White Zombie - Thunder Kiss '65</li>
<li>Whitesnake - Dont Break My Heart Again</li>
<li>Whitesnake - Fool For Your Loving</li>
<li>Whitesnake - Here I Go Again</li>
<li>Whitesnake - Is This Love (cover)</li>
<li>Whitesnake - Is This Love</li>
<li>Whitesnake - Still of the Night</li>
<li>Whitney Houston - How Will I Know</li>
<li>Wild Cherry - Play That Funky Music</li>
<li>Wilkinson - Afterglow</li>
<li>Willie Nelson - On the Road Again (Live)</li>
<li>Winds of Plague - Approach the Podium</li>
<li>Winds of Plague - California</li>
<li>Wings - Band on the Run</li>
<li>Wings - Hi Hi Hi</li>
<li>Wings - Jet</li>
<li>Wings - Junior's Farm</li>
<li>Wings - Maybe I'm Amazed</li>
<li>Within Temptation - What Have You Done</li>
<li>Wiz Khalifa & Charlie Puth - See You Again</li>
<li>Wolfmother - Back Round</li>
<li>Wolfmother - California Queen</li>
<li>Wolfmother - Cosmic Egg</li>
<li>Wolfmother - Dimension</li>
<li>Wolfmother - Joker & the Thief</li>
<li>Wolfmother - Pilgrim</li>
<li>Wolfmother - Woman</li>
<li>Wonder Girls - Nobody</li>
</ul>