<!-- Tabs Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Setlist and Music Library</h2>
                    <h3 class="section-subheading text-muted">Here is a comprehensive list of all the songs Drumson can perform. Requests are fulfilled given enough notice.</h3>
                </div>
            </div>
            <div class="row">
                <div data-tabs class="tabs">    
                   <div class="tab">
                      <input type="radio" name="tabgroup" id="tab-0" checked>
                      <label for="tab-0">Setlist</label>
                      <div class="tab__content">
                         <p>Select a tab to display the setlist titles sorted by artist.</p>
                      </div> 
                   </div>
                   <div class="tab">
                      <input type="radio" name="tabgroup" id="tab-1">
                      <label for="tab-1">A</label>
                      <div class="tab__content">
                         {% include /setlist/a.html %}
                      </div> 
                   </div>
                   <div class="tab">
                      <input type="radio" name="tabgroup" id="tab-2">
                      <label for="tab-2">B</label>
                      <div class="tab__content">
                         {% include /setlist/b.html %}
                      </div> 
                   </div>
                   <div class="tab">
                      <input type="radio" name="tabgroup" id="tab-3">
                      <label for="tab-3">C</label>
                      <div class="tab__content">
                         {% include /setlist/c.html %}
                      </div> 
                   </div>
                   <div class="tab">
                      <input type="radio" name="tabgroup" id="tab-4">
                      <label for="tab-4">D</label>
                      <div class="tab__content">
                         {% include /setlist/d.html %}
                      </div> 
                   </div>
                   <div class="tab">
                      <input type="radio" name="tabgroup" id="tab-5">
                      <label for="tab-5">E</label>
                      <div class="tab__content">
                         {% include /setlist/e.html %}
                      </div> 
                   </div>
                </div>
            </div>
        </div>
    </section>